.rc-card-call-to-action {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--pobo-global-widget-padding);
  margin: var(--pobo-global-widget-margin);
  background: var(--pobo-card-call-to-action-bg);
  box-shadow: var(--pobo-card-call-to-action-shadow);
  border-radius: var(--pobo-card-call-to-action-radius);
  background: var(--pobo-card-call-to-action-bg);
  border: var(--pobo-card-call-to-action-border-color);

  &__wrap {
    width: 100%;
    display: grid;
    gap: var(--pobo-card-call-to-action-wrap-gap);

    @include media-breakpoint-down(sm) {
      grid-template-columns: 1fr !important;
    }
  }


  &__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: var(--pobo-card-call-to-action-photo-max-height);
    object-position: center center;
    margin: 0;
    border-radius: var(--pobo-card-call-to-action-photo-radius);
    position: relative;
  }

  &__content {
    padding: var(--pobo-card-call-to-action-content-padding);
    margin: var(--pobo-card-call-to-action-content-margin);
  }

  &__title {
    padding: var(--pobo-card-call-to-action-title-padding);
    margin: var(--pobo-card-call-to-action-title-margin);
    font-size: var(--pobo-card-call-to-action-title-font-size);
    line-height: var(--pobo-card-call-to-action-title-line-height);
  }

  &__text {
    padding: var(--pobo-card-call-to-action-text-padding);
    margin: var(--pobo-card-call-to-action-text-margin);
    color: var(--pobo-card-call-to-action-text-font-color);
    font-size: var(--pobo-card-call-to-action-text-font-size);
    line-height: var(--pobo-card-call-to-action-text-line-height);
    font-weight: var(--pobo-card-call-to-action-text-font-weight);
  }

  &__button {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: var(--pobo-card-call-to-action-button-padding);
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    color: var(--pobo-btn-color);
    background: var(--pobo-btn-bg);
    box-shadow: var(--pobo-btn-box-shadow);
    border: var(--pobo-btn-border);
    cursor: pointer;
    padding: var(--pobo-btn-padding);
    margin: var(--pobo-btn-margin);
    font-size: var(--pobo-btn-font-size);
    line-height: var(--pobo-btn-line-height);
    font-weight: var(--pobo-btn-font-weight);
    border-radius: var(--pobo-btn-border-radius);
    transition: var(--pobo-btn-transition);


    &:hover {
      background: var(--pobo-btn-hover-bg);
      text-decoration: none;
      color: var(--pobo-btn-hover-text-color);
    }
  }

  &__image {
    position: relative;
  }

  &__single {
    background: var(--pobo-card-call-to-action-single-bg);
    border-radius: var(--pobo-card-call-to-action-single-border-radius);
    box-shadow: var(--pobo-card-call-to-action-single-shadow);
    padding: var(--pobo-card-call-to-action-single-padding);
  }

  &--three-in-row {
    grid-template-columns: 1fr 1fr 1fr;
  }

  &--two-in-row {
    grid-template-columns: 1fr 1fr;
    gap: var(--pobo-card-call-to-action-wrap-gap);
  }

  &--four-in-row {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

  

  