.rc-list {
  &__container {
    padding: var(--pobo-list-container-padding);
  }

  &__header {
    font-size: var(--pobo-list-header-font-size);
    padding: var(--pobo-list-header-padding);
    margin: var(--pobo-list-header-margin);
  }

  &__ul {
    padding: var(--pobo-list-ul-padding);
    margin: var(--pobo-list-ul-margin);
  }

  &__li {
    padding: var(--pobo-list-li-padding);
  }
}
