.pbc-oh-my-bean-puff {
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-image: var(--pobo-custom-bean-bg-image-big);
  background-size: var(--pobo-custom-bean-bg-size);
  min-height: var(--pobo-custom-bean-min-height);
  align-items: center;

  @media screen and (max-width: 480px) {
    background-image: var(--pobo-custom-bean-bg-image-small);
  }

  &__content {
    width: var(--pobo-custom-bean-content-width);
    max-width: var(--pobo-custom-bean-content-max-width);
    height: var(--pobo-custom-bean-content-height);
    display: flex;

    @media screen and (max-width: 480px) {
      max-width: var(--pobo-custom-bean-content-max-width-mobile);
    }

    h2 {
      font-size: var(--pobo-custom-bean-heading-font-size);
      text-align: var(--pobo-custom-bean-heading-text-align);
      font-family: var(--pobo-custom-bean-heading-font-family), serif;
      line-height: var(--pobo-custom-bean-heading-line-height);
      color: var(--pobo-custom-bean-heading-color);

      @media screen and (max-width: 480px) {
        font-size: var(--pobo-custom-bean-heading-font-size-mobile);
      }

      @media screen and (max-width: 670px) {
        font-size: var(--pobo-custom-bean-heading-font-size-tablet);
      }
    }
  }
}
.pbc-oh-my-bean-notes {
  width: var(--pobo-custom-bean-notes-width);
  border-radius: var(--pobo-custom-bean-notes-border-radius);
  background: var(--pobo-custom-bean-notes-bg);
  position: var(--pobo-custom-bean-notes-position);

  &__content {
    width: var(--pobo-custom-bean-notes-content-width);
    z-index: var(--pobo-custom-bean-notes-content-z-index);
    padding: var(--pobo-custom-bean-notes-content-padding);
    max-width: var(--pobo-custom-bean-notes-content-max-width);
    position: var(--pobo-custom-bean-notes-content-position);

    h2 {
      font-size: var(--pobo-custom-bean-heading-font-size);
      font-family: var(--pobo-custom-bean-heading-font-family), serif;
      line-height: var(--pobo-custom-bean-heading-line-height);
      color: var(--pobo-custom-bean-heading-color);
      margin: var(--pobo-custom-bean-heading-margin);
    }

    p {
      font-size: var(--pobo-custom-bean-paragraph-font-size);
      line-height: var(--pobo-custom-bean-heading-line-height);
      color: var(--pobo-custom-bean-paragraph-color);
      font-family: var(--pobo-custom-bean-paragraph-font-family), serif;
      margin: var(--pobo-custom-bean-paragraph-margin);
    }
  }

  &:before {
    position: var(--pobo-custom-bean-notes-before-position);
    content: '';
    width: var(--pobo-custom-bean-notes-before-width);
    height: var(--pobo-custom-bean-notes-before-height);
    right: var(--pobo-custom-bean-notes-before-right);
    bottom: var(--pobo-custom-bean-notes-before-bottom);
    background-image: var(--pobo-custom-bean-notes-before-bg-image);
    background-repeat: var(--pobo-custom-bean-notes-before-bg-repeat);
    background-position: var(--pobo-custom-bean-notes-before-bg-position);
  }
}
