$product-card-height: 350px;
$product-card-image-container: 180px;
$product-card-button-bg: linear-gradient(#15b407, #0e8804);
$product-card-button-bg-hover: linear-gradient(#17c008, #109405);
$product-card-button-shadow: 2px 2px 1px 0 rgba(203, 202, 202, 0.50);
$product-card-button-border: #0f9d04;
$product-card-button-font-size: 14px;
$product-card-button-icon: "https://image.pobo.cz/widget/product-basket.svg";

.pb-product-card {
  &__carousel {
    height: $product-card-height;
  }

  &__image-container {
    height: $product-card-image-container;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image-img {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
    object-fit: fill;
    mix-blend-mode: multiply;
  }

  &__title {
    padding: var(--pobo-product-card-title-padding);
    margin: var(--pobo-product-card-title-margin);
    font-size: var(--pobo-product-card-title-font-size);
    line-height: var(--pobo-product-card-title-line-height);
    display: block;
    height: var(--pobo-product-card-title-height);
    color: black;
    font-weight: var(--pobo-product-card-title-font-weight);
    text-align: center;
  }

  &__price {
    font-size: var(--pobo-product-price-font-size);
    line-height: var(--pobo-product-price-line-height);
    color: green;
    text-align: center;
    font-weight: var(--pobo-product-price-font-weight);
    display: block;
    margin: var(--pobo-product-price-margin);
  }

  &__button {
  }

  &__action {
    padding: var(--pobo-product-price-action-padding);
    display: flex;
    justify-content: center;
    a {
      display: inline-block;
      text-decoration: none;
      color: var(--pobo-btn-color);
      background: var(--pobo-btn-bg);
      box-shadow: var(--pobo-btn-box-shadow);
      border: var(--pobo-btn-border);
      cursor: pointer;
      padding: var(--pobo-btn-padding);
      margin: var(--pobo-btn-margin);
      font-size: var(--pobo-btn-font-size);
      line-height: var(--pobo-btn-line-height);
      font-weight: var(--pobo-btn-font-weight);
      border-radius: var(--pobo-btn-border-radius);
      transition: var(--pobo-btn-transition);


      &:hover {
        background: var(--pobo-btn-hover-bg);
        text-decoration: none;
        color: var(--pobo-btn-hover-text-color);
      }

      &:after {
        background: url(#{$product-card-button-icon}) no-repeat center center;
        background-size: 100% 100%;
        position: absolute;
        content: "";
        width: 18px;
        height: 18px;
        filter: invert(100%);
        top: 6px;
        right: 10px;
      }
    }
  }
}
