.rc-advantages-three {
  background: var(--pobo-advantages-bg);
  box-shadow: var(--pobo-advantages-box-shadow);
  border: var(--pobo-advantages-border-radius);
  flex-wrap: var(--pobo-advantages-flex-wrap);
  gap: var(--pobo-advantages-gap);
  padding: var(--pobo-advantages-padding);
  display: flex;

  &__item {
    padding: var(--pobo-advantages-item-padding);
    border: var(--pobo-advantages-item-border);
    background: var(--pobo-advantages-item-bg);
    box-shadow: var(--pobo-advantages-item-box-shadow);
    border-radius: var(--pobo-advantages-item-border-radius);
    margin: var(--pobo-advantages-item-margin);

    @include media-breakpoint-up(sm) {
      width: calc(100% / 3);
    }
  }

  &__ico-container {
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: var(--pobo-advantages-ico-container-border-radius);
    margin: var(--pobo-advantages-ico-container-margin);
    box-shadow: var(--pobo-advantages-ico-container-box-shadow);
    background: var(--pobo-advantages-ico-container-bg);
    padding: var(--pobo-advantages-ico-container-padding);
    width: var(--pobo-advantages-ico-container-width);
    height: var(--pobo-advantages-ico-container-height);
  }

  &__ico-img {
    margin: 0 auto;
    max-height: var(--pobo-advantages-ico-container-img-max-height);
    max-width: var(--pobo-advantages-ico-container-img-max-width);
    box-shadow: var(--pobo-advantages-ico-container-img-box-shadow);
    background: var(--pobo-advantages-ico-container-img-bg);
    border-radius: var(--pobo-advantages-ico-container-img-border-radius);
    border: var(--pobo-advantages-ico-container-img-border-color);
  }

  &__info {
    text-align: center;
  }

  &__info-header {
    padding: var(--pobo-advantages-title-padding);
    margin: var(--pobo-advantages-title-margin);
    color: var(--pobo-advantages-title-font-color);
    font-size: var(--pobo-advantages-three-title-font-size);
    line-height: var(--pobo-advantages-three-title-line-height);
    font-weight: var(--pobo-advantages-three-title-font-weight);
  }

  &__info-text {
    display: block;
    padding: var(--pobo-advantages-info-margin);
    margin: var(--pobo-advantages-info-padding);
    color: var(--pobo-advantages-info-font-color);
    font-size: var(--pobo-advantages-three-info-font-size);
    line-height: var(--pobo-advantages-three-info-line-height);
    font-weight: var(--pobo-advantages-three-info-font-weight);
  }
}
