.rc-counter {
  display: grid;
  position: relative;
  overflow: hidden;
  border-radius: var(--pobo-counter-border-radius);
  border: var(--pobo-counter-border);
  box-shadow: var(--pobo-counter-box-shadow);
  background: var(--pobo-counter-bg);
  padding: var(--pobo-counter-padding);

  &__img {
    width: var(--pobo-counter-img-width);
    height: var(--pobo-counter-img-height);
    position: var(--pobo-counter-img-position);
    left: var(--pobo-counter-img-left);
    top: var(--pobo-counter-img-top);
    z-index: var(--pobo-counter-img-zindex);
  }

  &:before {
    content: var(--pobo-counter-before-content);
    width: var(--pobo-counter-before-width);
    height: var(--pobo-counter-before-height);
    position: var(--pobo-counter-before-position);
    background-color: var(--pobo-counter-overlay-bg);
    z-index: var(--pobo-counter-before-zindex);
  }

  &__two {
    grid-template-columns: var(--pobo-counter-two-grid);
  }

  &__three {
    grid-template-columns: var(--pobo-counter-three-grid);
  }

  &__box {
    position: relative;
    z-index: 8;
  }

  &__inner {
    padding: var(--pobo-counter-inner-padding);
    border-radius: var(--pobo-counter-inner-border-radius);
    text-align: center;
    font-family: var(--pobo-counter-inner-font);

    @include media-breakpoint-down(sm) {
      padding: var(--pobo-counter-inner-paading);
    }
  }

  &__header {
    font-size: var(--pobo-counter-header-font-size);
    color: var(--pobo-counter-header-font-color);
    margin: var(--pobo-counter-header-margin);
    padding: var(--pobo-counter-header-padding);
    font-weight: var(--pobo-counter-header-font-weight);
    text-shadow: var(--pobo-counter-header-text-shadow);


    @include media-breakpoint-down(sm) {
      font-size: var(--pobo-counter-header-font-size-sm);
    }


    &--medium {
      font-size: var(--pobo-counter-header-half-font-size);
      color: var(--pobo-counter-header-half-font-color);
      margin: var(--pobo-counter-header-half-margin);
      padding: var(--pobo-counter-header-half-padding);
      font-weight: var(--pobo-counter-header-half-font-weight);
      text-shadow: var(--pobo-counter-header-half-text-shadow);
    }
  }

  &__info {
    font-size: var(--pobo-counter-info-font-size);
    color: var(--pobo-counter-info-font-color);
    margin: var(--pobo-counter-info-margin);
    padding: var(--pobo-counter-info-padding);
    font-weight: var(--pobo-counter-info-font-weight);
    text-shadow: var(--pobo-counter-info-text-shadow);


    @include media-breakpoint-down(sm) {
      font-size: var(--pobo-counter-info-font-size-sm);
    }

    &--medium {
      font-size: var(--pobo-counter-medium-font-size);

      @include media-breakpoint-down(sm) {
        font-size: var(--pobo-counter-medium-font-size-sm);
      }
    }
  }
}
