.rc-image-left {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background: var(--pobo-image-bg);
  box-shadow: var(--pobo-image-box-shadow);
  border: var(--pobo-image-border-color);

  &__image {
    width: 35%;
    position: relative;
    text-align: var(--pobo-image-photo-text-align);

    @include media-breakpoint-down(sm) {
      flex: 0 0 100%;
      max-width: 100%;
      order: 2;
    }
  }

  &__img {
    max-width: 100%;
    height: auto;
    padding: var(--pobo-image-img-padding);
    margin: var(--pobo-image-img-margin);
    border-radius: var(--pobo-image-img-border-radius);
    box-shadow: var(--pobo-image-img-box-shadow);
    border: var(--pobo-image-img-border-color);
    mix-blend-mode: var(--pobo-image-img-mix-blend-mode);
    object-fit: var(--pobo-image-img-object-fit);
  }

  &__text {
    width: calc(100% - 35%);
    background: var(--pobo-image-left-box-bg);
    text-align: var(--pobo-image-left-text-align);
    padding: var(--pobo-image-left-padding);
    margin: var(--pobo-image-left-margin);
    border-radius: var(--pobo-image-left-border-radius);
    position: relative;
    z-index: 1;

    @include media-breakpoint-down(sm) {
      flex: 0 0 100%;
      max-width: 100%;
      order: 1;
    }
  }
}
