.rc-image-right {
  display: flex;
  align-items: center;
  background: var(--pobo-image-bg);
  box-shadow: var(--pobo-image-box-shadow);
  border: var(--pobo-image-border-color);

  @include media-breakpoint-down(sm) {
    display: block;
    padding: 20px 0;
  }

  &__image {
    width: 35%;
    position: relative;
    text-align: var(--pobo-image-photo-text-align);

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }

  &__img {
    max-width: 100%;
    height: auto;
    padding: var(--pobo-image-img-padding);
    margin: var(--pobo-image-img-margin);
    border-radius: var(--pobo-image-img-border-radius);
    box-shadow: var(--pobo-image-img-box-shadow);
    border: var(--pobo-image-img-border-color);
    mix-blend-mode: var(--pobo-image-img-mix-blend-mode);
    object-fit: var(--pobo-image-img-object-fit);
  }

  &__text {
    width: calc(100% - 35%);
    background: var(--pobo-image-right-box-bg);
    text-align: var(--pobo-image-right-text-align);
    padding: var(--pobo-image-right-padding);
    margin: var(--pobo-image-right-margin);
    border-radius: var(--pobo-image-right-border-radius);
    position: relative;
    z-index: 1;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
}
