.rc-image-one {
  width: 100%;
  border: var(--pobo-text-in-image-border);
  box-shadow: var(--pobo-text-in-image-box-shadow);
  background: var(--pobo-text-in-image-bg);

  &__single {
    width: 100%;
    position: relative;
    margin-bottom: 5px;
    flex-direction: column;
    color: white;
  }

  &__img {
    width: 100%;
    overflow: hidden;
    z-index: -2;
    height: 100%;


    @include media-breakpoint-down(sm) {
      height: var(--pobo-text-in-image-single-img-height);
      object-fit: cover;
      width: 100vw;
    }
  }

  &__header {
    color: var(--pobo-text-in-image-single-header-font-color);
    line-height: var(--pobo-text-in-image-single-header-line-height);
    font-weight: var(--pobo-text-in-image-single-header-font-weight);
    font-size: var(--pobo-text-in-image-single-header-font-size);
    padding: var(--pobo-text-in-image-single-header-padding);
    margin: var(--pobo-text-in-image-single-header-margin);
    text-shadow: var(--pobo-text-in-image-single-header-text-shadow);
  }

  &__info {
    font-size: var(--pobo-text-in-image-single-text-font-size);
    line-height: var(--pobo-text-in-image-single-text-line-height);
    font-weight: var(--pobo-text-in-image-single-text-font-weight);
    color: var(--pobo-text-in-image-single-text-font-color);
    padding: var(--pobo-text-in-image-single-text-padding);
    margin: var(--pobo-text-in-image-single-text-margin);
    text-shadow: var(--pobo-text-in-image-single-text-text-shadow);
  }

  &__content {
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  &__down {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: var(--pobo-text-in-image-single-content-padding);
    backdrop-filter: var(--pobo-text-in-image-overlay-blur);
    background: var(--pobo-text-in-image-single-content-bg);

    @include media-breakpoint-down(sm) {
      padding: 20px;
    }
  }
}
