.rc-parameter-big-left {
  align-items: center;

  @include media-breakpoint-up(sm) {
    display: flex;
  }

  &__image {
    position: relative;

    @include media-breakpoint-up(sm) {
      width: 70%;
      padding: var(--pobo-parameter-image-big-padding);
    }
  }

  &__box {
    @include media-breakpoint-up(sm) {
      width: 30%;
    }
  }
}