.pb-standard-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;

  tr {
    border-bottom: var(--pobo-standard-table-tr-border-bottom);

    &:hover {
      background: var(--pobo-standard-table-tr-hover-bg);
    }
  }

  td {
    padding: var(--pobo-standard-table-td-padding);
    font-size: var(--pobo-standard-table-td-font-size);
    color: var(--pobo-standard-table-td-font-color);
  }
}
