:root {
 --pobo-widget-left-image-padding: var(--pobo-global-widget-padding);
 --pobo-widget-left-image-margin: var(--pobo-global-widget-margin);
 --pobo-widget-left-image-box-shadow: none;
 --pobo-widget-left-image-bg: none;
 --pobo-widget-left-image-bg-size: auto;
 --pobo-widget-left-image-border-radius: 0;
 --pobo-widget-left-image-before-bg: none;
 --pobo-widget-left-image-before-top: 0;
 --pobo-widget-left-image-before-left: 0;
 --pobo-widget-left-image-before-width: 0;
 --pobo-widget-left-image-before-height: 0;
 --pobo-widget-left-image-before-index: 0;
 --pobo-widget-left-image-after-bg: none;
 --pobo-widget-left-image-after-top: 0;
 --pobo-widget-left-image-after-right: 0;
 --pobo-widget-left-image-after-width: 0;
 --pobo-widget-left-image-after-height: 0;
 --pobo-widget-left-image-after-index: 0;
 --pobo-widget-list-padding: var(--pobo-global-widget-padding);
 --pobo-widget-list-margin: var(--pobo-global-widget-margin);
 --pobo-widget-list-box-shadow: none;
 --pobo-widget-list-bg: none;
 --pobo-widget-list-bg-size: auto;
 --pobo-widget-list-border-radius: 0;
 --pobo-widget-list-before-bg: none;
 --pobo-widget-list-before-top: 0;
 --pobo-widget-list-before-left: 0;
 --pobo-widget-list-before-width: 0;
 --pobo-widget-list-before-height: 0;
 --pobo-widget-list-before-index: 0;
 --pobo-widget-list-after-bg: none;
 --pobo-widget-list-after-top: 0;
 --pobo-widget-list-after-right: 0;
 --pobo-widget-list-after-width: 0;
 --pobo-widget-list-after-height: 0;
 --pobo-widget-list-after-index: 0;
 --pobo-widget-right-image-padding: var(--pobo-global-widget-padding);
 --pobo-widget-right-image-margin: var(--pobo-global-widget-margin);
 --pobo-widget-right-image-box-shadow: none;
 --pobo-widget-right-image-bg: none;
 --pobo-widget-right-image-bg-size: auto;
 --pobo-widget-right-image-border-radius: 0;
 --pobo-widget-right-image-before-bg: none;
 --pobo-widget-right-image-before-top: 0;
 --pobo-widget-right-image-before-left: 0;
 --pobo-widget-right-image-before-width: 0;
 --pobo-widget-right-image-before-height: 0;
 --pobo-widget-right-image-before-index: 0;
 --pobo-widget-right-image-after-bg: none;
 --pobo-widget-right-image-after-top: 0;
 --pobo-widget-right-image-after-right: 0;
 --pobo-widget-right-image-after-width: 0;
 --pobo-widget-right-image-after-height: 0;
 --pobo-widget-right-image-after-index: 0;
 --pobo-widget--padding: var(--pobo-global-widget-padding);
 --pobo-widget--margin: var(--pobo-global-widget-margin);
 --pobo-widget--box-shadow: none;
 --pobo-widget--bg: none;
 --pobo-widget--bg-size: auto;
 --pobo-widget--border-radius: 0;
 --pobo-widget--before-bg: none;
 --pobo-widget--before-top: 0;
 --pobo-widget--before-left: 0;
 --pobo-widget--before-width: 0;
 --pobo-widget--before-height: 0;
 --pobo-widget--before-index: 0;
 --pobo-widget--after-bg: none;
 --pobo-widget--after-top: 0;
 --pobo-widget--after-right: 0;
 --pobo-widget--after-width: 0;
 --pobo-widget--after-height: 0;
 --pobo-widget--after-index: 0;
 --pobo-widget-evaluation-two-padding: var(--pobo-global-widget-padding);
 --pobo-widget-evaluation-two-margin: var(--pobo-global-widget-margin);
 --pobo-widget-evaluation-two-box-shadow: none;
 --pobo-widget-evaluation-two-bg: none;
 --pobo-widget-evaluation-two-bg-size: auto;
 --pobo-widget-evaluation-two-border-radius: 0;
 --pobo-widget-evaluation-two-before-bg: none;
 --pobo-widget-evaluation-two-before-top: 0;
 --pobo-widget-evaluation-two-before-left: 0;
 --pobo-widget-evaluation-two-before-width: 0;
 --pobo-widget-evaluation-two-before-height: 0;
 --pobo-widget-evaluation-two-before-index: 0;
 --pobo-widget-evaluation-two-after-bg: none;
 --pobo-widget-evaluation-two-after-top: 0;
 --pobo-widget-evaluation-two-after-right: 0;
 --pobo-widget-evaluation-two-after-width: 0;
 --pobo-widget-evaluation-two-after-height: 0;
 --pobo-widget-evaluation-two-after-index: 0;
 --pobo-widget-faq-padding: var(--pobo-global-widget-padding);
 --pobo-widget-faq-margin: var(--pobo-global-widget-margin);
 --pobo-widget-faq-box-shadow: none;
 --pobo-widget-faq-bg: none;
 --pobo-widget-faq-bg-size: auto;
 --pobo-widget-faq-border-radius: 0;
 --pobo-widget-faq-before-bg: none;
 --pobo-widget-faq-before-top: 0;
 --pobo-widget-faq-before-left: 0;
 --pobo-widget-faq-before-width: 0;
 --pobo-widget-faq-before-height: 0;
 --pobo-widget-faq-before-index: 0;
 --pobo-widget-faq-after-bg: none;
 --pobo-widget-faq-after-top: 0;
 --pobo-widget-faq-after-right: 0;
 --pobo-widget-faq-after-width: 0;
 --pobo-widget-faq-after-height: 0;
 --pobo-widget-faq-after-index: 0;
 --pobo-widget-review-one-padding: var(--pobo-global-widget-padding);
 --pobo-widget-review-one-margin: var(--pobo-global-widget-margin);
 --pobo-widget-review-one-box-shadow: none;
 --pobo-widget-review-one-bg: none;
 --pobo-widget-review-one-bg-size: auto;
 --pobo-widget-review-one-border-radius: 0;
 --pobo-widget-review-one-before-bg: none;
 --pobo-widget-review-one-before-top: 0;
 --pobo-widget-review-one-before-left: 0;
 --pobo-widget-review-one-before-width: 0;
 --pobo-widget-review-one-before-height: 0;
 --pobo-widget-review-one-before-index: 0;
 --pobo-widget-review-one-after-bg: none;
 --pobo-widget-review-one-after-top: 0;
 --pobo-widget-review-one-after-right: 0;
 --pobo-widget-review-one-after-width: 0;
 --pobo-widget-review-one-after-height: 0;
 --pobo-widget-review-one-after-index: 0;
 --pobo-widget-userwidget-padding: var(--pobo-global-widget-padding);
 --pobo-widget-userwidget-margin: var(--pobo-global-widget-margin);
 --pobo-widget-userwidget-box-shadow: none;
 --pobo-widget-userwidget-bg: none;
 --pobo-widget-userwidget-bg-size: auto;
 --pobo-widget-userwidget-border-radius: 0;
 --pobo-widget-userwidget-before-bg: none;
 --pobo-widget-userwidget-before-top: 0;
 --pobo-widget-userwidget-before-left: 0;
 --pobo-widget-userwidget-before-width: 0;
 --pobo-widget-userwidget-before-height: 0;
 --pobo-widget-userwidget-before-index: 0;
 --pobo-widget-userwidget-after-bg: none;
 --pobo-widget-userwidget-after-top: 0;
 --pobo-widget-userwidget-after-right: 0;
 --pobo-widget-userwidget-after-width: 0;
 --pobo-widget-userwidget-after-height: 0;
 --pobo-widget-userwidget-after-index: 0;
 --pobo-widget-preview-padding: var(--pobo-global-widget-padding);
 --pobo-widget-preview-margin: var(--pobo-global-widget-margin);
 --pobo-widget-preview-box-shadow: none;
 --pobo-widget-preview-bg: none;
 --pobo-widget-preview-bg-size: auto;
 --pobo-widget-preview-border-radius: 0;
 --pobo-widget-preview-before-bg: none;
 --pobo-widget-preview-before-top: 0;
 --pobo-widget-preview-before-left: 0;
 --pobo-widget-preview-before-width: 0;
 --pobo-widget-preview-before-height: 0;
 --pobo-widget-preview-before-index: 0;
 --pobo-widget-preview-after-bg: none;
 --pobo-widget-preview-after-top: 0;
 --pobo-widget-preview-after-right: 0;
 --pobo-widget-preview-after-width: 0;
 --pobo-widget-preview-after-height: 0;
 --pobo-widget-preview-after-index: 0;
 --pobo-widget-advantages-four-padding: var(--pobo-global-widget-padding);
 --pobo-widget-advantages-four-margin: var(--pobo-global-widget-margin);
 --pobo-widget-advantages-four-box-shadow: none;
 --pobo-widget-advantages-four-bg: none;
 --pobo-widget-advantages-four-bg-size: auto;
 --pobo-widget-advantages-four-border-radius: 0;
 --pobo-widget-advantages-four-before-bg: none;
 --pobo-widget-advantages-four-before-top: 0;
 --pobo-widget-advantages-four-before-left: 0;
 --pobo-widget-advantages-four-before-width: 0;
 --pobo-widget-advantages-four-before-height: 0;
 --pobo-widget-advantages-four-before-index: 0;
 --pobo-widget-advantages-four-after-bg: none;
 --pobo-widget-advantages-four-after-top: 0;
 --pobo-widget-advantages-four-after-right: 0;
 --pobo-widget-advantages-four-after-width: 0;
 --pobo-widget-advantages-four-after-height: 0;
 --pobo-widget-advantages-four-after-index: 0;
 --pobo-widget-advantages-three-padding: var(--pobo-global-widget-padding);
 --pobo-widget-advantages-three-margin: var(--pobo-global-widget-margin);
 --pobo-widget-advantages-three-box-shadow: none;
 --pobo-widget-advantages-three-bg: none;
 --pobo-widget-advantages-three-bg-size: auto;
 --pobo-widget-advantages-three-border-radius: 0;
 --pobo-widget-advantages-three-before-bg: none;
 --pobo-widget-advantages-three-before-top: 0;
 --pobo-widget-advantages-three-before-left: 0;
 --pobo-widget-advantages-three-before-width: 0;
 --pobo-widget-advantages-three-before-height: 0;
 --pobo-widget-advantages-three-before-index: 0;
 --pobo-widget-advantages-three-after-bg: none;
 --pobo-widget-advantages-three-after-top: 0;
 --pobo-widget-advantages-three-after-right: 0;
 --pobo-widget-advantages-three-after-width: 0;
 --pobo-widget-advantages-three-after-height: 0;
 --pobo-widget-advantages-three-after-index: 0;
 --pobo-widget-advantages-two-padding: var(--pobo-global-widget-padding);
 --pobo-widget-advantages-two-margin: var(--pobo-global-widget-margin);
 --pobo-widget-advantages-two-box-shadow: none;
 --pobo-widget-advantages-two-bg: none;
 --pobo-widget-advantages-two-bg-size: auto;
 --pobo-widget-advantages-two-border-radius: 0;
 --pobo-widget-advantages-two-before-bg: none;
 --pobo-widget-advantages-two-before-top: 0;
 --pobo-widget-advantages-two-before-left: 0;
 --pobo-widget-advantages-two-before-width: 0;
 --pobo-widget-advantages-two-before-height: 0;
 --pobo-widget-advantages-two-before-index: 0;
 --pobo-widget-advantages-two-after-bg: none;
 --pobo-widget-advantages-two-after-top: 0;
 --pobo-widget-advantages-two-after-right: 0;
 --pobo-widget-advantages-two-after-width: 0;
 --pobo-widget-advantages-two-after-height: 0;
 --pobo-widget-advantages-two-after-index: 0;
 --pobo-widget-author-above-padding: var(--pobo-global-widget-padding);
 --pobo-widget-author-above-margin: var(--pobo-global-widget-margin);
 --pobo-widget-author-above-box-shadow: none;
 --pobo-widget-author-above-bg: none;
 --pobo-widget-author-above-bg-size: auto;
 --pobo-widget-author-above-border-radius: 0;
 --pobo-widget-author-above-before-bg: none;
 --pobo-widget-author-above-before-top: 0;
 --pobo-widget-author-above-before-left: 0;
 --pobo-widget-author-above-before-width: 0;
 --pobo-widget-author-above-before-height: 0;
 --pobo-widget-author-above-before-index: 0;
 --pobo-widget-author-above-after-bg: none;
 --pobo-widget-author-above-after-top: 0;
 --pobo-widget-author-above-after-right: 0;
 --pobo-widget-author-above-after-width: 0;
 --pobo-widget-author-above-after-height: 0;
 --pobo-widget-author-above-after-index: 0;
 --pobo-widget-author-left-padding: var(--pobo-global-widget-padding);
 --pobo-widget-author-left-margin: var(--pobo-global-widget-margin);
 --pobo-widget-author-left-box-shadow: none;
 --pobo-widget-author-left-bg: none;
 --pobo-widget-author-left-bg-size: auto;
 --pobo-widget-author-left-border-radius: 0;
 --pobo-widget-author-left-before-bg: none;
 --pobo-widget-author-left-before-top: 0;
 --pobo-widget-author-left-before-left: 0;
 --pobo-widget-author-left-before-width: 0;
 --pobo-widget-author-left-before-height: 0;
 --pobo-widget-author-left-before-index: 0;
 --pobo-widget-author-left-after-bg: none;
 --pobo-widget-author-left-after-top: 0;
 --pobo-widget-author-left-after-right: 0;
 --pobo-widget-author-left-after-width: 0;
 --pobo-widget-author-left-after-height: 0;
 --pobo-widget-author-left-after-index: 0;
 --pobo-widget-author-top-padding: var(--pobo-global-widget-padding);
 --pobo-widget-author-top-margin: var(--pobo-global-widget-margin);
 --pobo-widget-author-top-box-shadow: none;
 --pobo-widget-author-top-bg: none;
 --pobo-widget-author-top-bg-size: auto;
 --pobo-widget-author-top-border-radius: 0;
 --pobo-widget-author-top-before-bg: none;
 --pobo-widget-author-top-before-top: 0;
 --pobo-widget-author-top-before-left: 0;
 --pobo-widget-author-top-before-width: 0;
 --pobo-widget-author-top-before-height: 0;
 --pobo-widget-author-top-before-index: 0;
 --pobo-widget-author-top-after-bg: none;
 --pobo-widget-author-top-after-top: 0;
 --pobo-widget-author-top-after-right: 0;
 --pobo-widget-author-top-after-width: 0;
 --pobo-widget-author-top-after-height: 0;
 --pobo-widget-author-top-after-index: 0;
 --pobo-widget-card-call-to-action-padding: var(--pobo-global-widget-padding);
 --pobo-widget-card-call-to-action-margin: var(--pobo-global-widget-margin);
 --pobo-widget-card-call-to-action-box-shadow: none;
 --pobo-widget-card-call-to-action-bg: none;
 --pobo-widget-card-call-to-action-bg-size: auto;
 --pobo-widget-card-call-to-action-border-radius: 0;
 --pobo-widget-card-call-to-action-before-bg: none;
 --pobo-widget-card-call-to-action-before-top: 0;
 --pobo-widget-card-call-to-action-before-left: 0;
 --pobo-widget-card-call-to-action-before-width: 0;
 --pobo-widget-card-call-to-action-before-height: 0;
 --pobo-widget-card-call-to-action-before-index: 0;
 --pobo-widget-card-call-to-action-after-bg: none;
 --pobo-widget-card-call-to-action-after-top: 0;
 --pobo-widget-card-call-to-action-after-right: 0;
 --pobo-widget-card-call-to-action-after-width: 0;
 --pobo-widget-card-call-to-action-after-height: 0;
 --pobo-widget-card-call-to-action-after-index: 0;
 --pobo-widget-conversion-three-padding: var(--pobo-global-widget-padding);
 --pobo-widget-conversion-three-margin: var(--pobo-global-widget-margin);
 --pobo-widget-conversion-three-box-shadow: none;
 --pobo-widget-conversion-three-bg: none;
 --pobo-widget-conversion-three-bg-size: auto;
 --pobo-widget-conversion-three-border-radius: 0;
 --pobo-widget-conversion-three-before-bg: none;
 --pobo-widget-conversion-three-before-top: 0;
 --pobo-widget-conversion-three-before-left: 0;
 --pobo-widget-conversion-three-before-width: 0;
 --pobo-widget-conversion-three-before-height: 0;
 --pobo-widget-conversion-three-before-index: 0;
 --pobo-widget-conversion-three-after-bg: none;
 --pobo-widget-conversion-three-after-top: 0;
 --pobo-widget-conversion-three-after-right: 0;
 --pobo-widget-conversion-three-after-width: 0;
 --pobo-widget-conversion-three-after-height: 0;
 --pobo-widget-conversion-three-after-index: 0;
 --pobo-widget-counter-padding: var(--pobo-global-widget-padding);
 --pobo-widget-counter-margin: var(--pobo-global-widget-margin);
 --pobo-widget-counter-box-shadow: none;
 --pobo-widget-counter-bg: none;
 --pobo-widget-counter-bg-size: auto;
 --pobo-widget-counter-border-radius: 0;
 --pobo-widget-counter-before-bg: none;
 --pobo-widget-counter-before-top: 0;
 --pobo-widget-counter-before-left: 0;
 --pobo-widget-counter-before-width: 0;
 --pobo-widget-counter-before-height: 0;
 --pobo-widget-counter-before-index: 0;
 --pobo-widget-counter-after-bg: none;
 --pobo-widget-counter-after-top: 0;
 --pobo-widget-counter-after-right: 0;
 --pobo-widget-counter-after-width: 0;
 --pobo-widget-counter-after-height: 0;
 --pobo-widget-counter-after-index: 0;
 --pobo-widget-dynamic-gallery-padding: var(--pobo-global-widget-padding);
 --pobo-widget-dynamic-gallery-margin: var(--pobo-global-widget-margin);
 --pobo-widget-dynamic-gallery-box-shadow: none;
 --pobo-widget-dynamic-gallery-bg: none;
 --pobo-widget-dynamic-gallery-bg-size: auto;
 --pobo-widget-dynamic-gallery-border-radius: 0;
 --pobo-widget-dynamic-gallery-before-bg: none;
 --pobo-widget-dynamic-gallery-before-top: 0;
 --pobo-widget-dynamic-gallery-before-left: 0;
 --pobo-widget-dynamic-gallery-before-width: 0;
 --pobo-widget-dynamic-gallery-before-height: 0;
 --pobo-widget-dynamic-gallery-before-index: 0;
 --pobo-widget-dynamic-gallery-after-bg: none;
 --pobo-widget-dynamic-gallery-after-top: 0;
 --pobo-widget-dynamic-gallery-after-right: 0;
 --pobo-widget-dynamic-gallery-after-width: 0;
 --pobo-widget-dynamic-gallery-after-height: 0;
 --pobo-widget-dynamic-gallery-after-index: 0;
 --pobo-widget-gallery-four-padding: var(--pobo-global-widget-padding);
 --pobo-widget-gallery-four-margin: var(--pobo-global-widget-margin);
 --pobo-widget-gallery-four-box-shadow: none;
 --pobo-widget-gallery-four-bg: none;
 --pobo-widget-gallery-four-bg-size: auto;
 --pobo-widget-gallery-four-border-radius: 0;
 --pobo-widget-gallery-four-before-bg: none;
 --pobo-widget-gallery-four-before-top: 0;
 --pobo-widget-gallery-four-before-left: 0;
 --pobo-widget-gallery-four-before-width: 0;
 --pobo-widget-gallery-four-before-height: 0;
 --pobo-widget-gallery-four-before-index: 0;
 --pobo-widget-gallery-four-after-bg: none;
 --pobo-widget-gallery-four-after-top: 0;
 --pobo-widget-gallery-four-after-right: 0;
 --pobo-widget-gallery-four-after-width: 0;
 --pobo-widget-gallery-four-after-height: 0;
 --pobo-widget-gallery-four-after-index: 0;
 --pobo-widget-gallery-one-padding: var(--pobo-global-widget-padding);
 --pobo-widget-gallery-one-margin: var(--pobo-global-widget-margin);
 --pobo-widget-gallery-one-box-shadow: none;
 --pobo-widget-gallery-one-bg: none;
 --pobo-widget-gallery-one-bg-size: auto;
 --pobo-widget-gallery-one-border-radius: 0;
 --pobo-widget-gallery-one-before-bg: none;
 --pobo-widget-gallery-one-before-top: 0;
 --pobo-widget-gallery-one-before-left: 0;
 --pobo-widget-gallery-one-before-width: 0;
 --pobo-widget-gallery-one-before-height: 0;
 --pobo-widget-gallery-one-before-index: 0;
 --pobo-widget-gallery-one-after-bg: none;
 --pobo-widget-gallery-one-after-top: 0;
 --pobo-widget-gallery-one-after-right: 0;
 --pobo-widget-gallery-one-after-width: 0;
 --pobo-widget-gallery-one-after-height: 0;
 --pobo-widget-gallery-one-after-index: 0;
 --pobo-widget-gallery-three-padding: var(--pobo-global-widget-padding);
 --pobo-widget-gallery-three-margin: var(--pobo-global-widget-margin);
 --pobo-widget-gallery-three-box-shadow: none;
 --pobo-widget-gallery-three-bg: none;
 --pobo-widget-gallery-three-bg-size: auto;
 --pobo-widget-gallery-three-border-radius: 0;
 --pobo-widget-gallery-three-before-bg: none;
 --pobo-widget-gallery-three-before-top: 0;
 --pobo-widget-gallery-three-before-left: 0;
 --pobo-widget-gallery-three-before-width: 0;
 --pobo-widget-gallery-three-before-height: 0;
 --pobo-widget-gallery-three-before-index: 0;
 --pobo-widget-gallery-three-after-bg: none;
 --pobo-widget-gallery-three-after-top: 0;
 --pobo-widget-gallery-three-after-right: 0;
 --pobo-widget-gallery-three-after-width: 0;
 --pobo-widget-gallery-three-after-height: 0;
 --pobo-widget-gallery-three-after-index: 0;
 --pobo-widget-gallery-two-padding: var(--pobo-global-widget-padding);
 --pobo-widget-gallery-two-margin: var(--pobo-global-widget-margin);
 --pobo-widget-gallery-two-box-shadow: none;
 --pobo-widget-gallery-two-bg: none;
 --pobo-widget-gallery-two-bg-size: auto;
 --pobo-widget-gallery-two-border-radius: 0;
 --pobo-widget-gallery-two-before-bg: none;
 --pobo-widget-gallery-two-before-top: 0;
 --pobo-widget-gallery-two-before-left: 0;
 --pobo-widget-gallery-two-before-width: 0;
 --pobo-widget-gallery-two-before-height: 0;
 --pobo-widget-gallery-two-before-index: 0;
 --pobo-widget-gallery-two-after-bg: none;
 --pobo-widget-gallery-two-after-top: 0;
 --pobo-widget-gallery-two-after-right: 0;
 --pobo-widget-gallery-two-after-width: 0;
 --pobo-widget-gallery-two-after-height: 0;
 --pobo-widget-gallery-two-after-index: 0;
 --pobo-widget-header-text-padding: var(--pobo-global-widget-padding);
 --pobo-widget-header-text-margin: var(--pobo-global-widget-margin);
 --pobo-widget-header-text-box-shadow: none;
 --pobo-widget-header-text-bg: none;
 --pobo-widget-header-text-bg-size: auto;
 --pobo-widget-header-text-border-radius: 0;
 --pobo-widget-header-text-before-bg: none;
 --pobo-widget-header-text-before-top: 0;
 --pobo-widget-header-text-before-left: 0;
 --pobo-widget-header-text-before-width: 0;
 --pobo-widget-header-text-before-height: 0;
 --pobo-widget-header-text-before-index: 0;
 --pobo-widget-header-text-after-bg: none;
 --pobo-widget-header-text-after-top: 0;
 --pobo-widget-header-text-after-right: 0;
 --pobo-widget-header-text-after-width: 0;
 --pobo-widget-header-text-after-height: 0;
 --pobo-widget-header-text-after-index: 0;
 --pobo-widget-image-half-left-padding: var(--pobo-global-widget-padding);
 --pobo-widget-image-half-left-margin: var(--pobo-global-widget-margin);
 --pobo-widget-image-half-left-box-shadow: none;
 --pobo-widget-image-half-left-bg: none;
 --pobo-widget-image-half-left-bg-size: auto;
 --pobo-widget-image-half-left-border-radius: 0;
 --pobo-widget-image-half-left-before-bg: none;
 --pobo-widget-image-half-left-before-top: 0;
 --pobo-widget-image-half-left-before-left: 0;
 --pobo-widget-image-half-left-before-width: 0;
 --pobo-widget-image-half-left-before-height: 0;
 --pobo-widget-image-half-left-before-index: 0;
 --pobo-widget-image-half-left-after-bg: none;
 --pobo-widget-image-half-left-after-top: 0;
 --pobo-widget-image-half-left-after-right: 0;
 --pobo-widget-image-half-left-after-width: 0;
 --pobo-widget-image-half-left-after-height: 0;
 --pobo-widget-image-half-left-after-index: 0;
 --pobo-widget-image-half-right-padding: var(--pobo-global-widget-padding);
 --pobo-widget-image-half-right-margin: var(--pobo-global-widget-margin);
 --pobo-widget-image-half-right-box-shadow: none;
 --pobo-widget-image-half-right-bg: none;
 --pobo-widget-image-half-right-bg-size: auto;
 --pobo-widget-image-half-right-border-radius: 0;
 --pobo-widget-image-half-right-before-bg: none;
 --pobo-widget-image-half-right-before-top: 0;
 --pobo-widget-image-half-right-before-left: 0;
 --pobo-widget-image-half-right-before-width: 0;
 --pobo-widget-image-half-right-before-height: 0;
 --pobo-widget-image-half-right-before-index: 0;
 --pobo-widget-image-half-right-after-bg: none;
 --pobo-widget-image-half-right-after-top: 0;
 --pobo-widget-image-half-right-after-right: 0;
 --pobo-widget-image-half-right-after-width: 0;
 --pobo-widget-image-half-right-after-height: 0;
 --pobo-widget-image-half-right-after-index: 0;
 --pobo-widget-image-left-overlay-padding: var(--pobo-global-widget-padding);
 --pobo-widget-image-left-overlay-margin: var(--pobo-global-widget-margin);
 --pobo-widget-image-left-overlay-box-shadow: none;
 --pobo-widget-image-left-overlay-bg: none;
 --pobo-widget-image-left-overlay-bg-size: auto;
 --pobo-widget-image-left-overlay-border-radius: 0;
 --pobo-widget-image-left-overlay-before-bg: none;
 --pobo-widget-image-left-overlay-before-top: 0;
 --pobo-widget-image-left-overlay-before-left: 0;
 --pobo-widget-image-left-overlay-before-width: 0;
 --pobo-widget-image-left-overlay-before-height: 0;
 --pobo-widget-image-left-overlay-before-index: 0;
 --pobo-widget-image-left-overlay-after-bg: none;
 --pobo-widget-image-left-overlay-after-top: 0;
 --pobo-widget-image-left-overlay-after-right: 0;
 --pobo-widget-image-left-overlay-after-width: 0;
 --pobo-widget-image-left-overlay-after-height: 0;
 --pobo-widget-image-left-overlay-after-index: 0;
 --pobo-widget-image-left-two-column-padding: var(--pobo-global-widget-padding);
 --pobo-widget-image-left-two-column-margin: var(--pobo-global-widget-margin);
 --pobo-widget-image-left-two-column-box-shadow: none;
 --pobo-widget-image-left-two-column-bg: none;
 --pobo-widget-image-left-two-column-bg-size: auto;
 --pobo-widget-image-left-two-column-border-radius: 0;
 --pobo-widget-image-left-two-column-before-bg: none;
 --pobo-widget-image-left-two-column-before-top: 0;
 --pobo-widget-image-left-two-column-before-left: 0;
 --pobo-widget-image-left-two-column-before-width: 0;
 --pobo-widget-image-left-two-column-before-height: 0;
 --pobo-widget-image-left-two-column-before-index: 0;
 --pobo-widget-image-left-two-column-after-bg: none;
 --pobo-widget-image-left-two-column-after-top: 0;
 --pobo-widget-image-left-two-column-after-right: 0;
 --pobo-widget-image-left-two-column-after-width: 0;
 --pobo-widget-image-left-two-column-after-height: 0;
 --pobo-widget-image-left-two-column-after-index: 0;
 --pobo-widget-image-left-padding: var(--pobo-global-widget-padding);
 --pobo-widget-image-left-margin: var(--pobo-global-widget-margin);
 --pobo-widget-image-left-box-shadow: none;
 --pobo-widget-image-left-bg: none;
 --pobo-widget-image-left-bg-size: auto;
 --pobo-widget-image-left-border-radius: 0;
 --pobo-widget-image-left-before-bg: none;
 --pobo-widget-image-left-before-top: 0;
 --pobo-widget-image-left-before-left: 0;
 --pobo-widget-image-left-before-width: 0;
 --pobo-widget-image-left-before-height: 0;
 --pobo-widget-image-left-before-index: 0;
 --pobo-widget-image-left-after-bg: none;
 --pobo-widget-image-left-after-top: 0;
 --pobo-widget-image-left-after-right: 0;
 --pobo-widget-image-left-after-width: 0;
 --pobo-widget-image-left-after-height: 0;
 --pobo-widget-image-left-after-index: 0;
 --pobo-widget-image-one-padding: var(--pobo-global-widget-padding);
 --pobo-widget-image-one-margin: var(--pobo-global-widget-margin);
 --pobo-widget-image-one-box-shadow: none;
 --pobo-widget-image-one-bg: none;
 --pobo-widget-image-one-bg-size: auto;
 --pobo-widget-image-one-border-radius: 0;
 --pobo-widget-image-one-before-bg: none;
 --pobo-widget-image-one-before-top: 0;
 --pobo-widget-image-one-before-left: 0;
 --pobo-widget-image-one-before-width: 0;
 --pobo-widget-image-one-before-height: 0;
 --pobo-widget-image-one-before-index: 0;
 --pobo-widget-image-one-after-bg: none;
 --pobo-widget-image-one-after-top: 0;
 --pobo-widget-image-one-after-right: 0;
 --pobo-widget-image-one-after-width: 0;
 --pobo-widget-image-one-after-height: 0;
 --pobo-widget-image-one-after-index: 0;
 --pobo-widget-image-right-overlay-padding: var(--pobo-global-widget-padding);
 --pobo-widget-image-right-overlay-margin: var(--pobo-global-widget-margin);
 --pobo-widget-image-right-overlay-box-shadow: none;
 --pobo-widget-image-right-overlay-bg: none;
 --pobo-widget-image-right-overlay-bg-size: auto;
 --pobo-widget-image-right-overlay-border-radius: 0;
 --pobo-widget-image-right-overlay-before-bg: none;
 --pobo-widget-image-right-overlay-before-top: 0;
 --pobo-widget-image-right-overlay-before-left: 0;
 --pobo-widget-image-right-overlay-before-width: 0;
 --pobo-widget-image-right-overlay-before-height: 0;
 --pobo-widget-image-right-overlay-before-index: 0;
 --pobo-widget-image-right-overlay-after-bg: none;
 --pobo-widget-image-right-overlay-after-top: 0;
 --pobo-widget-image-right-overlay-after-right: 0;
 --pobo-widget-image-right-overlay-after-width: 0;
 --pobo-widget-image-right-overlay-after-height: 0;
 --pobo-widget-image-right-overlay-after-index: 0;
 --pobo-widget-image-right-two-column-padding: var(--pobo-global-widget-padding);
 --pobo-widget-image-right-two-column-margin: var(--pobo-global-widget-margin);
 --pobo-widget-image-right-two-column-box-shadow: none;
 --pobo-widget-image-right-two-column-bg: none;
 --pobo-widget-image-right-two-column-bg-size: auto;
 --pobo-widget-image-right-two-column-border-radius: 0;
 --pobo-widget-image-right-two-column-before-bg: none;
 --pobo-widget-image-right-two-column-before-top: 0;
 --pobo-widget-image-right-two-column-before-left: 0;
 --pobo-widget-image-right-two-column-before-width: 0;
 --pobo-widget-image-right-two-column-before-height: 0;
 --pobo-widget-image-right-two-column-before-index: 0;
 --pobo-widget-image-right-two-column-after-bg: none;
 --pobo-widget-image-right-two-column-after-top: 0;
 --pobo-widget-image-right-two-column-after-right: 0;
 --pobo-widget-image-right-two-column-after-width: 0;
 --pobo-widget-image-right-two-column-after-height: 0;
 --pobo-widget-image-right-two-column-after-index: 0;
 --pobo-widget-image-right-padding: var(--pobo-global-widget-padding);
 --pobo-widget-image-right-margin: var(--pobo-global-widget-margin);
 --pobo-widget-image-right-box-shadow: none;
 --pobo-widget-image-right-bg: none;
 --pobo-widget-image-right-bg-size: auto;
 --pobo-widget-image-right-border-radius: 0;
 --pobo-widget-image-right-before-bg: none;
 --pobo-widget-image-right-before-top: 0;
 --pobo-widget-image-right-before-left: 0;
 --pobo-widget-image-right-before-width: 0;
 --pobo-widget-image-right-before-height: 0;
 --pobo-widget-image-right-before-index: 0;
 --pobo-widget-image-right-after-bg: none;
 --pobo-widget-image-right-after-top: 0;
 --pobo-widget-image-right-after-right: 0;
 --pobo-widget-image-right-after-width: 0;
 --pobo-widget-image-right-after-height: 0;
 --pobo-widget-image-right-after-index: 0;
 --pobo-widget-image-three-padding: var(--pobo-global-widget-padding);
 --pobo-widget-image-three-margin: var(--pobo-global-widget-margin);
 --pobo-widget-image-three-box-shadow: none;
 --pobo-widget-image-three-bg: none;
 --pobo-widget-image-three-bg-size: auto;
 --pobo-widget-image-three-border-radius: 0;
 --pobo-widget-image-three-before-bg: none;
 --pobo-widget-image-three-before-top: 0;
 --pobo-widget-image-three-before-left: 0;
 --pobo-widget-image-three-before-width: 0;
 --pobo-widget-image-three-before-height: 0;
 --pobo-widget-image-three-before-index: 0;
 --pobo-widget-image-three-after-bg: none;
 --pobo-widget-image-three-after-top: 0;
 --pobo-widget-image-three-after-right: 0;
 --pobo-widget-image-three-after-width: 0;
 --pobo-widget-image-three-after-height: 0;
 --pobo-widget-image-three-after-index: 0;
 --pobo-widget-image-two-padding: var(--pobo-global-widget-padding);
 --pobo-widget-image-two-margin: var(--pobo-global-widget-margin);
 --pobo-widget-image-two-box-shadow: none;
 --pobo-widget-image-two-bg: none;
 --pobo-widget-image-two-bg-size: auto;
 --pobo-widget-image-two-border-radius: 0;
 --pobo-widget-image-two-before-bg: none;
 --pobo-widget-image-two-before-top: 0;
 --pobo-widget-image-two-before-left: 0;
 --pobo-widget-image-two-before-width: 0;
 --pobo-widget-image-two-before-height: 0;
 --pobo-widget-image-two-before-index: 0;
 --pobo-widget-image-two-after-bg: none;
 --pobo-widget-image-two-after-top: 0;
 --pobo-widget-image-two-after-right: 0;
 --pobo-widget-image-two-after-width: 0;
 --pobo-widget-image-two-after-height: 0;
 --pobo-widget-image-two-after-index: 0;
 --pobo-widget-infobox-padding: var(--pobo-global-widget-padding);
 --pobo-widget-infobox-margin: var(--pobo-global-widget-margin);
 --pobo-widget-infobox-box-shadow: none;
 --pobo-widget-infobox-bg: none;
 --pobo-widget-infobox-bg-size: auto;
 --pobo-widget-infobox-border-radius: 0;
 --pobo-widget-infobox-before-bg: none;
 --pobo-widget-infobox-before-top: 0;
 --pobo-widget-infobox-before-left: 0;
 --pobo-widget-infobox-before-width: 0;
 --pobo-widget-infobox-before-height: 0;
 --pobo-widget-infobox-before-index: 0;
 --pobo-widget-infobox-after-bg: none;
 --pobo-widget-infobox-after-top: 0;
 --pobo-widget-infobox-after-right: 0;
 --pobo-widget-infobox-after-width: 0;
 --pobo-widget-infobox-after-height: 0;
 --pobo-widget-infobox-after-index: 0;
 --pobo-widget-information-two-padding: var(--pobo-global-widget-padding);
 --pobo-widget-information-two-margin: var(--pobo-global-widget-margin);
 --pobo-widget-information-two-box-shadow: none;
 --pobo-widget-information-two-bg: none;
 --pobo-widget-information-two-bg-size: auto;
 --pobo-widget-information-two-border-radius: 0;
 --pobo-widget-information-two-before-bg: none;
 --pobo-widget-information-two-before-top: 0;
 --pobo-widget-information-two-before-left: 0;
 --pobo-widget-information-two-before-width: 0;
 --pobo-widget-information-two-before-height: 0;
 --pobo-widget-information-two-before-index: 0;
 --pobo-widget-information-two-after-bg: none;
 --pobo-widget-information-two-after-top: 0;
 --pobo-widget-information-two-after-right: 0;
 --pobo-widget-information-two-after-width: 0;
 --pobo-widget-information-two-after-height: 0;
 --pobo-widget-information-two-after-index: 0;
 --pobo-widget-inline-image-padding: var(--pobo-global-widget-padding);
 --pobo-widget-inline-image-margin: var(--pobo-global-widget-margin);
 --pobo-widget-inline-image-box-shadow: none;
 --pobo-widget-inline-image-bg: none;
 --pobo-widget-inline-image-bg-size: auto;
 --pobo-widget-inline-image-border-radius: 0;
 --pobo-widget-inline-image-before-bg: none;
 --pobo-widget-inline-image-before-top: 0;
 --pobo-widget-inline-image-before-left: 0;
 --pobo-widget-inline-image-before-width: 0;
 --pobo-widget-inline-image-before-height: 0;
 --pobo-widget-inline-image-before-index: 0;
 --pobo-widget-inline-image-after-bg: none;
 --pobo-widget-inline-image-after-top: 0;
 --pobo-widget-inline-image-after-right: 0;
 --pobo-widget-inline-image-after-width: 0;
 --pobo-widget-inline-image-after-height: 0;
 --pobo-widget-inline-image-after-index: 0;
 --pobo-widget-interview-photo-padding: var(--pobo-global-widget-padding);
 --pobo-widget-interview-photo-margin: var(--pobo-global-widget-margin);
 --pobo-widget-interview-photo-box-shadow: none;
 --pobo-widget-interview-photo-bg: none;
 --pobo-widget-interview-photo-bg-size: auto;
 --pobo-widget-interview-photo-border-radius: 0;
 --pobo-widget-interview-photo-before-bg: none;
 --pobo-widget-interview-photo-before-top: 0;
 --pobo-widget-interview-photo-before-left: 0;
 --pobo-widget-interview-photo-before-width: 0;
 --pobo-widget-interview-photo-before-height: 0;
 --pobo-widget-interview-photo-before-index: 0;
 --pobo-widget-interview-photo-after-bg: none;
 --pobo-widget-interview-photo-after-top: 0;
 --pobo-widget-interview-photo-after-right: 0;
 --pobo-widget-interview-photo-after-width: 0;
 --pobo-widget-interview-photo-after-height: 0;
 --pobo-widget-interview-photo-after-index: 0;
 --pobo-widget-jumbotron-one-padding: var(--pobo-global-widget-padding);
 --pobo-widget-jumbotron-one-margin: var(--pobo-global-widget-margin);
 --pobo-widget-jumbotron-one-box-shadow: none;
 --pobo-widget-jumbotron-one-bg: none;
 --pobo-widget-jumbotron-one-bg-size: auto;
 --pobo-widget-jumbotron-one-border-radius: 0;
 --pobo-widget-jumbotron-one-before-bg: none;
 --pobo-widget-jumbotron-one-before-top: 0;
 --pobo-widget-jumbotron-one-before-left: 0;
 --pobo-widget-jumbotron-one-before-width: 0;
 --pobo-widget-jumbotron-one-before-height: 0;
 --pobo-widget-jumbotron-one-before-index: 0;
 --pobo-widget-jumbotron-one-after-bg: none;
 --pobo-widget-jumbotron-one-after-top: 0;
 --pobo-widget-jumbotron-one-after-right: 0;
 --pobo-widget-jumbotron-one-after-width: 0;
 --pobo-widget-jumbotron-one-after-height: 0;
 --pobo-widget-jumbotron-one-after-index: 0;
 --pobo-widget-one-video-padding: var(--pobo-global-widget-padding);
 --pobo-widget-one-video-margin: var(--pobo-global-widget-margin);
 --pobo-widget-one-video-box-shadow: none;
 --pobo-widget-one-video-bg: none;
 --pobo-widget-one-video-bg-size: auto;
 --pobo-widget-one-video-border-radius: 0;
 --pobo-widget-one-video-before-bg: none;
 --pobo-widget-one-video-before-top: 0;
 --pobo-widget-one-video-before-left: 0;
 --pobo-widget-one-video-before-width: 0;
 --pobo-widget-one-video-before-height: 0;
 --pobo-widget-one-video-before-index: 0;
 --pobo-widget-one-video-after-bg: none;
 --pobo-widget-one-video-after-top: 0;
 --pobo-widget-one-video-after-right: 0;
 --pobo-widget-one-video-after-width: 0;
 --pobo-widget-one-video-after-height: 0;
 --pobo-widget-one-video-after-index: 0;
 --pobo-widget-parameter-big-left-padding: var(--pobo-global-widget-padding);
 --pobo-widget-parameter-big-left-margin: var(--pobo-global-widget-margin);
 --pobo-widget-parameter-big-left-box-shadow: none;
 --pobo-widget-parameter-big-left-bg: none;
 --pobo-widget-parameter-big-left-bg-size: auto;
 --pobo-widget-parameter-big-left-border-radius: 0;
 --pobo-widget-parameter-big-left-before-bg: none;
 --pobo-widget-parameter-big-left-before-top: 0;
 --pobo-widget-parameter-big-left-before-left: 0;
 --pobo-widget-parameter-big-left-before-width: 0;
 --pobo-widget-parameter-big-left-before-height: 0;
 --pobo-widget-parameter-big-left-before-index: 0;
 --pobo-widget-parameter-big-left-after-bg: none;
 --pobo-widget-parameter-big-left-after-top: 0;
 --pobo-widget-parameter-big-left-after-right: 0;
 --pobo-widget-parameter-big-left-after-width: 0;
 --pobo-widget-parameter-big-left-after-height: 0;
 --pobo-widget-parameter-big-left-after-index: 0;
 --pobo-widget-parameter-big-right-padding: var(--pobo-global-widget-padding);
 --pobo-widget-parameter-big-right-margin: var(--pobo-global-widget-margin);
 --pobo-widget-parameter-big-right-box-shadow: none;
 --pobo-widget-parameter-big-right-bg: none;
 --pobo-widget-parameter-big-right-bg-size: auto;
 --pobo-widget-parameter-big-right-border-radius: 0;
 --pobo-widget-parameter-big-right-before-bg: none;
 --pobo-widget-parameter-big-right-before-top: 0;
 --pobo-widget-parameter-big-right-before-left: 0;
 --pobo-widget-parameter-big-right-before-width: 0;
 --pobo-widget-parameter-big-right-before-height: 0;
 --pobo-widget-parameter-big-right-before-index: 0;
 --pobo-widget-parameter-big-right-after-bg: none;
 --pobo-widget-parameter-big-right-after-top: 0;
 --pobo-widget-parameter-big-right-after-right: 0;
 --pobo-widget-parameter-big-right-after-width: 0;
 --pobo-widget-parameter-big-right-after-height: 0;
 --pobo-widget-parameter-big-right-after-index: 0;
 --pobo-widget-parameter-small-left-padding: var(--pobo-global-widget-padding);
 --pobo-widget-parameter-small-left-margin: var(--pobo-global-widget-margin);
 --pobo-widget-parameter-small-left-box-shadow: none;
 --pobo-widget-parameter-small-left-bg: none;
 --pobo-widget-parameter-small-left-bg-size: auto;
 --pobo-widget-parameter-small-left-border-radius: 0;
 --pobo-widget-parameter-small-left-before-bg: none;
 --pobo-widget-parameter-small-left-before-top: 0;
 --pobo-widget-parameter-small-left-before-left: 0;
 --pobo-widget-parameter-small-left-before-width: 0;
 --pobo-widget-parameter-small-left-before-height: 0;
 --pobo-widget-parameter-small-left-before-index: 0;
 --pobo-widget-parameter-small-left-after-bg: none;
 --pobo-widget-parameter-small-left-after-top: 0;
 --pobo-widget-parameter-small-left-after-right: 0;
 --pobo-widget-parameter-small-left-after-width: 0;
 --pobo-widget-parameter-small-left-after-height: 0;
 --pobo-widget-parameter-small-left-after-index: 0;
 --pobo-widget-parameter-small-right-padding: var(--pobo-global-widget-padding);
 --pobo-widget-parameter-small-right-margin: var(--pobo-global-widget-margin);
 --pobo-widget-parameter-small-right-box-shadow: none;
 --pobo-widget-parameter-small-right-bg: none;
 --pobo-widget-parameter-small-right-bg-size: auto;
 --pobo-widget-parameter-small-right-border-radius: 0;
 --pobo-widget-parameter-small-right-before-bg: none;
 --pobo-widget-parameter-small-right-before-top: 0;
 --pobo-widget-parameter-small-right-before-left: 0;
 --pobo-widget-parameter-small-right-before-width: 0;
 --pobo-widget-parameter-small-right-before-height: 0;
 --pobo-widget-parameter-small-right-before-index: 0;
 --pobo-widget-parameter-small-right-after-bg: none;
 --pobo-widget-parameter-small-right-after-top: 0;
 --pobo-widget-parameter-small-right-after-right: 0;
 --pobo-widget-parameter-small-right-after-width: 0;
 --pobo-widget-parameter-small-right-after-height: 0;
 --pobo-widget-parameter-small-right-after-index: 0;
 --pobo-widget-profit-padding: var(--pobo-global-widget-padding);
 --pobo-widget-profit-margin: var(--pobo-global-widget-margin);
 --pobo-widget-profit-box-shadow: none;
 --pobo-widget-profit-bg: none;
 --pobo-widget-profit-bg-size: auto;
 --pobo-widget-profit-border-radius: 0;
 --pobo-widget-profit-before-bg: none;
 --pobo-widget-profit-before-top: 0;
 --pobo-widget-profit-before-left: 0;
 --pobo-widget-profit-before-width: 0;
 --pobo-widget-profit-before-height: 0;
 --pobo-widget-profit-before-index: 0;
 --pobo-widget-profit-after-bg: none;
 --pobo-widget-profit-after-top: 0;
 --pobo-widget-profit-after-right: 0;
 --pobo-widget-profit-after-width: 0;
 --pobo-widget-profit-after-height: 0;
 --pobo-widget-profit-after-index: 0;
 --pobo-widget-quotation-card-padding: var(--pobo-global-widget-padding);
 --pobo-widget-quotation-card-margin: var(--pobo-global-widget-margin);
 --pobo-widget-quotation-card-box-shadow: none;
 --pobo-widget-quotation-card-bg: none;
 --pobo-widget-quotation-card-bg-size: auto;
 --pobo-widget-quotation-card-border-radius: 0;
 --pobo-widget-quotation-card-before-bg: none;
 --pobo-widget-quotation-card-before-top: 0;
 --pobo-widget-quotation-card-before-left: 0;
 --pobo-widget-quotation-card-before-width: 0;
 --pobo-widget-quotation-card-before-height: 0;
 --pobo-widget-quotation-card-before-index: 0;
 --pobo-widget-quotation-card-after-bg: none;
 --pobo-widget-quotation-card-after-top: 0;
 --pobo-widget-quotation-card-after-right: 0;
 --pobo-widget-quotation-card-after-width: 0;
 --pobo-widget-quotation-card-after-height: 0;
 --pobo-widget-quotation-card-after-index: 0;
 --pobo-widget-quotation-split-padding: var(--pobo-global-widget-padding);
 --pobo-widget-quotation-split-margin: var(--pobo-global-widget-margin);
 --pobo-widget-quotation-split-box-shadow: none;
 --pobo-widget-quotation-split-bg: none;
 --pobo-widget-quotation-split-bg-size: auto;
 --pobo-widget-quotation-split-border-radius: 0;
 --pobo-widget-quotation-split-before-bg: none;
 --pobo-widget-quotation-split-before-top: 0;
 --pobo-widget-quotation-split-before-left: 0;
 --pobo-widget-quotation-split-before-width: 0;
 --pobo-widget-quotation-split-before-height: 0;
 --pobo-widget-quotation-split-before-index: 0;
 --pobo-widget-quotation-split-after-bg: none;
 --pobo-widget-quotation-split-after-top: 0;
 --pobo-widget-quotation-split-after-right: 0;
 --pobo-widget-quotation-split-after-width: 0;
 --pobo-widget-quotation-split-after-height: 0;
 --pobo-widget-quotation-split-after-index: 0;
 --pobo-widget-rating-image-right-padding: var(--pobo-global-widget-padding);
 --pobo-widget-rating-image-right-margin: var(--pobo-global-widget-margin);
 --pobo-widget-rating-image-right-box-shadow: none;
 --pobo-widget-rating-image-right-bg: none;
 --pobo-widget-rating-image-right-bg-size: auto;
 --pobo-widget-rating-image-right-border-radius: 0;
 --pobo-widget-rating-image-right-before-bg: none;
 --pobo-widget-rating-image-right-before-top: 0;
 --pobo-widget-rating-image-right-before-left: 0;
 --pobo-widget-rating-image-right-before-width: 0;
 --pobo-widget-rating-image-right-before-height: 0;
 --pobo-widget-rating-image-right-before-index: 0;
 --pobo-widget-rating-image-right-after-bg: none;
 --pobo-widget-rating-image-right-after-top: 0;
 --pobo-widget-rating-image-right-after-right: 0;
 --pobo-widget-rating-image-right-after-width: 0;
 --pobo-widget-rating-image-right-after-height: 0;
 --pobo-widget-rating-image-right-after-index: 0;
 --pobo-widget-rating-two-padding: var(--pobo-global-widget-padding);
 --pobo-widget-rating-two-margin: var(--pobo-global-widget-margin);
 --pobo-widget-rating-two-box-shadow: none;
 --pobo-widget-rating-two-bg: none;
 --pobo-widget-rating-two-bg-size: auto;
 --pobo-widget-rating-two-border-radius: 0;
 --pobo-widget-rating-two-before-bg: none;
 --pobo-widget-rating-two-before-top: 0;
 --pobo-widget-rating-two-before-left: 0;
 --pobo-widget-rating-two-before-width: 0;
 --pobo-widget-rating-two-before-height: 0;
 --pobo-widget-rating-two-before-index: 0;
 --pobo-widget-rating-two-after-bg: none;
 --pobo-widget-rating-two-after-top: 0;
 --pobo-widget-rating-two-after-right: 0;
 --pobo-widget-rating-two-after-width: 0;
 --pobo-widget-rating-two-after-height: 0;
 --pobo-widget-rating-two-after-index: 0;
 --pobo-widget-reviews-threerow-padding: var(--pobo-global-widget-padding);
 --pobo-widget-reviews-threerow-margin: var(--pobo-global-widget-margin);
 --pobo-widget-reviews-threerow-box-shadow: none;
 --pobo-widget-reviews-threerow-bg: none;
 --pobo-widget-reviews-threerow-bg-size: auto;
 --pobo-widget-reviews-threerow-border-radius: 0;
 --pobo-widget-reviews-threerow-before-bg: none;
 --pobo-widget-reviews-threerow-before-top: 0;
 --pobo-widget-reviews-threerow-before-left: 0;
 --pobo-widget-reviews-threerow-before-width: 0;
 --pobo-widget-reviews-threerow-before-height: 0;
 --pobo-widget-reviews-threerow-before-index: 0;
 --pobo-widget-reviews-threerow-after-bg: none;
 --pobo-widget-reviews-threerow-after-top: 0;
 --pobo-widget-reviews-threerow-after-right: 0;
 --pobo-widget-reviews-threerow-after-width: 0;
 --pobo-widget-reviews-threerow-after-height: 0;
 --pobo-widget-reviews-threerow-after-index: 0;
 --pobo-widget-reviews-two-padding: var(--pobo-global-widget-padding);
 --pobo-widget-reviews-two-margin: var(--pobo-global-widget-margin);
 --pobo-widget-reviews-two-box-shadow: none;
 --pobo-widget-reviews-two-bg: none;
 --pobo-widget-reviews-two-bg-size: auto;
 --pobo-widget-reviews-two-border-radius: 0;
 --pobo-widget-reviews-two-before-bg: none;
 --pobo-widget-reviews-two-before-top: 0;
 --pobo-widget-reviews-two-before-left: 0;
 --pobo-widget-reviews-two-before-width: 0;
 --pobo-widget-reviews-two-before-height: 0;
 --pobo-widget-reviews-two-before-index: 0;
 --pobo-widget-reviews-two-after-bg: none;
 --pobo-widget-reviews-two-after-top: 0;
 --pobo-widget-reviews-two-after-right: 0;
 --pobo-widget-reviews-two-after-width: 0;
 --pobo-widget-reviews-two-after-height: 0;
 --pobo-widget-reviews-two-after-index: 0;
 --pobo-widget-success-one-padding: var(--pobo-global-widget-padding);
 --pobo-widget-success-one-margin: var(--pobo-global-widget-margin);
 --pobo-widget-success-one-box-shadow: none;
 --pobo-widget-success-one-bg: none;
 --pobo-widget-success-one-bg-size: auto;
 --pobo-widget-success-one-border-radius: 0;
 --pobo-widget-success-one-before-bg: none;
 --pobo-widget-success-one-before-top: 0;
 --pobo-widget-success-one-before-left: 0;
 --pobo-widget-success-one-before-width: 0;
 --pobo-widget-success-one-before-height: 0;
 --pobo-widget-success-one-before-index: 0;
 --pobo-widget-success-one-after-bg: none;
 --pobo-widget-success-one-after-top: 0;
 --pobo-widget-success-one-after-right: 0;
 --pobo-widget-success-one-after-width: 0;
 --pobo-widget-success-one-after-height: 0;
 --pobo-widget-success-one-after-index: 0;
 --pobo-widget-team-three-padding: var(--pobo-global-widget-padding);
 --pobo-widget-team-three-margin: var(--pobo-global-widget-margin);
 --pobo-widget-team-three-box-shadow: none;
 --pobo-widget-team-three-bg: none;
 --pobo-widget-team-three-bg-size: auto;
 --pobo-widget-team-three-border-radius: 0;
 --pobo-widget-team-three-before-bg: none;
 --pobo-widget-team-three-before-top: 0;
 --pobo-widget-team-three-before-left: 0;
 --pobo-widget-team-three-before-width: 0;
 --pobo-widget-team-three-before-height: 0;
 --pobo-widget-team-three-before-index: 0;
 --pobo-widget-team-three-after-bg: none;
 --pobo-widget-team-three-after-top: 0;
 --pobo-widget-team-three-after-right: 0;
 --pobo-widget-team-three-after-width: 0;
 --pobo-widget-team-three-after-height: 0;
 --pobo-widget-team-three-after-index: 0;
 --pobo-widget-text-button-padding: var(--pobo-global-widget-padding);
 --pobo-widget-text-button-margin: var(--pobo-global-widget-margin);
 --pobo-widget-text-button-box-shadow: none;
 --pobo-widget-text-button-bg: none;
 --pobo-widget-text-button-bg-size: auto;
 --pobo-widget-text-button-border-radius: 0;
 --pobo-widget-text-button-before-bg: none;
 --pobo-widget-text-button-before-top: 0;
 --pobo-widget-text-button-before-left: 0;
 --pobo-widget-text-button-before-width: 0;
 --pobo-widget-text-button-before-height: 0;
 --pobo-widget-text-button-before-index: 0;
 --pobo-widget-text-button-after-bg: none;
 --pobo-widget-text-button-after-top: 0;
 --pobo-widget-text-button-after-right: 0;
 --pobo-widget-text-button-after-width: 0;
 --pobo-widget-text-button-after-height: 0;
 --pobo-widget-text-button-after-index: 0;
 --pobo-widget-text-image-top-padding: var(--pobo-global-widget-padding);
 --pobo-widget-text-image-top-margin: var(--pobo-global-widget-margin);
 --pobo-widget-text-image-top-box-shadow: none;
 --pobo-widget-text-image-top-bg: none;
 --pobo-widget-text-image-top-bg-size: auto;
 --pobo-widget-text-image-top-border-radius: 0;
 --pobo-widget-text-image-top-before-bg: none;
 --pobo-widget-text-image-top-before-top: 0;
 --pobo-widget-text-image-top-before-left: 0;
 --pobo-widget-text-image-top-before-width: 0;
 --pobo-widget-text-image-top-before-height: 0;
 --pobo-widget-text-image-top-before-index: 0;
 --pobo-widget-text-image-top-after-bg: none;
 --pobo-widget-text-image-top-after-top: 0;
 --pobo-widget-text-image-top-after-right: 0;
 --pobo-widget-text-image-top-after-width: 0;
 --pobo-widget-text-image-top-after-height: 0;
 --pobo-widget-text-image-top-after-index: 0;
 --pobo-widget-text-two-padding: var(--pobo-global-widget-padding);
 --pobo-widget-text-two-margin: var(--pobo-global-widget-margin);
 --pobo-widget-text-two-box-shadow: none;
 --pobo-widget-text-two-bg: none;
 --pobo-widget-text-two-bg-size: auto;
 --pobo-widget-text-two-border-radius: 0;
 --pobo-widget-text-two-before-bg: none;
 --pobo-widget-text-two-before-top: 0;
 --pobo-widget-text-two-before-left: 0;
 --pobo-widget-text-two-before-width: 0;
 --pobo-widget-text-two-before-height: 0;
 --pobo-widget-text-two-before-index: 0;
 --pobo-widget-text-two-after-bg: none;
 --pobo-widget-text-two-after-top: 0;
 --pobo-widget-text-two-after-right: 0;
 --pobo-widget-text-two-after-width: 0;
 --pobo-widget-text-two-after-height: 0;
 --pobo-widget-text-two-after-index: 0;
 --pobo-widget-text-padding: var(--pobo-global-widget-padding);
 --pobo-widget-text-margin: var(--pobo-global-widget-margin);
 --pobo-widget-text-box-shadow: none;
 --pobo-widget-text-bg: none;
 --pobo-widget-text-bg-size: auto;
 --pobo-widget-text-border-radius: 0;
 --pobo-widget-text-before-bg: none;
 --pobo-widget-text-before-top: 0;
 --pobo-widget-text-before-left: 0;
 --pobo-widget-text-before-width: 0;
 --pobo-widget-text-before-height: 0;
 --pobo-widget-text-before-index: 0;
 --pobo-widget-text-after-bg: none;
 --pobo-widget-text-after-top: 0;
 --pobo-widget-text-after-right: 0;
 --pobo-widget-text-after-width: 0;
 --pobo-widget-text-after-height: 0;
 --pobo-widget-text-after-index: 0;
 --pobo-widget-title-line-padding: var(--pobo-global-widget-padding);
 --pobo-widget-title-line-margin: var(--pobo-global-widget-margin);
 --pobo-widget-title-line-box-shadow: none;
 --pobo-widget-title-line-bg: none;
 --pobo-widget-title-line-bg-size: auto;
 --pobo-widget-title-line-border-radius: 0;
 --pobo-widget-title-line-before-bg: none;
 --pobo-widget-title-line-before-top: 0;
 --pobo-widget-title-line-before-left: 0;
 --pobo-widget-title-line-before-width: 0;
 --pobo-widget-title-line-before-height: 0;
 --pobo-widget-title-line-before-index: 0;
 --pobo-widget-title-line-after-bg: none;
 --pobo-widget-title-line-after-top: 0;
 --pobo-widget-title-line-after-right: 0;
 --pobo-widget-title-line-after-width: 0;
 --pobo-widget-title-line-after-height: 0;
 --pobo-widget-title-line-after-index: 0;
 --pobo-widget-two-videos-padding: var(--pobo-global-widget-padding);
 --pobo-widget-two-videos-margin: var(--pobo-global-widget-margin);
 --pobo-widget-two-videos-box-shadow: none;
 --pobo-widget-two-videos-bg: none;
 --pobo-widget-two-videos-bg-size: auto;
 --pobo-widget-two-videos-border-radius: 0;
 --pobo-widget-two-videos-before-bg: none;
 --pobo-widget-two-videos-before-top: 0;
 --pobo-widget-two-videos-before-left: 0;
 --pobo-widget-two-videos-before-width: 0;
 --pobo-widget-two-videos-before-height: 0;
 --pobo-widget-two-videos-before-index: 0;
 --pobo-widget-two-videos-after-bg: none;
 --pobo-widget-two-videos-after-top: 0;
 --pobo-widget-two-videos-after-right: 0;
 --pobo-widget-two-videos-after-width: 0;
 --pobo-widget-two-videos-after-height: 0;
 --pobo-widget-two-videos-after-index: 0;
 --pobo-widget-video-half-left-padding: var(--pobo-global-widget-padding);
 --pobo-widget-video-half-left-margin: var(--pobo-global-widget-margin);
 --pobo-widget-video-half-left-box-shadow: none;
 --pobo-widget-video-half-left-bg: none;
 --pobo-widget-video-half-left-bg-size: auto;
 --pobo-widget-video-half-left-border-radius: 0;
 --pobo-widget-video-half-left-before-bg: none;
 --pobo-widget-video-half-left-before-top: 0;
 --pobo-widget-video-half-left-before-left: 0;
 --pobo-widget-video-half-left-before-width: 0;
 --pobo-widget-video-half-left-before-height: 0;
 --pobo-widget-video-half-left-before-index: 0;
 --pobo-widget-video-half-left-after-bg: none;
 --pobo-widget-video-half-left-after-top: 0;
 --pobo-widget-video-half-left-after-right: 0;
 --pobo-widget-video-half-left-after-width: 0;
 --pobo-widget-video-half-left-after-height: 0;
 --pobo-widget-video-half-left-after-index: 0;
 --pobo-widget-video-half-right-padding: var(--pobo-global-widget-padding);
 --pobo-widget-video-half-right-margin: var(--pobo-global-widget-margin);
 --pobo-widget-video-half-right-box-shadow: none;
 --pobo-widget-video-half-right-bg: none;
 --pobo-widget-video-half-right-bg-size: auto;
 --pobo-widget-video-half-right-border-radius: 0;
 --pobo-widget-video-half-right-before-bg: none;
 --pobo-widget-video-half-right-before-top: 0;
 --pobo-widget-video-half-right-before-left: 0;
 --pobo-widget-video-half-right-before-width: 0;
 --pobo-widget-video-half-right-before-height: 0;
 --pobo-widget-video-half-right-before-index: 0;
 --pobo-widget-video-half-right-after-bg: none;
 --pobo-widget-video-half-right-after-top: 0;
 --pobo-widget-video-half-right-after-right: 0;
 --pobo-widget-video-half-right-after-width: 0;
 --pobo-widget-video-half-right-after-height: 0;
 --pobo-widget-video-half-right-after-index: 0;
 --pobo-widget-video-left-padding: var(--pobo-global-widget-padding);
 --pobo-widget-video-left-margin: var(--pobo-global-widget-margin);
 --pobo-widget-video-left-box-shadow: none;
 --pobo-widget-video-left-bg: none;
 --pobo-widget-video-left-bg-size: auto;
 --pobo-widget-video-left-border-radius: 0;
 --pobo-widget-video-left-before-bg: none;
 --pobo-widget-video-left-before-top: 0;
 --pobo-widget-video-left-before-left: 0;
 --pobo-widget-video-left-before-width: 0;
 --pobo-widget-video-left-before-height: 0;
 --pobo-widget-video-left-before-index: 0;
 --pobo-widget-video-left-after-bg: none;
 --pobo-widget-video-left-after-top: 0;
 --pobo-widget-video-left-after-right: 0;
 --pobo-widget-video-left-after-width: 0;
 --pobo-widget-video-left-after-height: 0;
 --pobo-widget-video-left-after-index: 0;
 --pobo-widget-video-right-padding: var(--pobo-global-widget-padding);
 --pobo-widget-video-right-margin: var(--pobo-global-widget-margin);
 --pobo-widget-video-right-box-shadow: none;
 --pobo-widget-video-right-bg: none;
 --pobo-widget-video-right-bg-size: auto;
 --pobo-widget-video-right-border-radius: 0;
 --pobo-widget-video-right-before-bg: none;
 --pobo-widget-video-right-before-top: 0;
 --pobo-widget-video-right-before-left: 0;
 --pobo-widget-video-right-before-width: 0;
 --pobo-widget-video-right-before-height: 0;
 --pobo-widget-video-right-before-index: 0;
 --pobo-widget-video-right-after-bg: none;
 --pobo-widget-video-right-after-top: 0;
 --pobo-widget-video-right-after-right: 0;
 --pobo-widget-video-right-after-width: 0;
 --pobo-widget-video-right-after-height: 0;
 --pobo-widget-video-right-after-index: 0;
 --pobo-widget-warning-two-padding: var(--pobo-global-widget-padding);
 --pobo-widget-warning-two-margin: var(--pobo-global-widget-margin);
 --pobo-widget-warning-two-box-shadow: none;
 --pobo-widget-warning-two-bg: none;
 --pobo-widget-warning-two-bg-size: auto;
 --pobo-widget-warning-two-border-radius: 0;
 --pobo-widget-warning-two-before-bg: none;
 --pobo-widget-warning-two-before-top: 0;
 --pobo-widget-warning-two-before-left: 0;
 --pobo-widget-warning-two-before-width: 0;
 --pobo-widget-warning-two-before-height: 0;
 --pobo-widget-warning-two-before-index: 0;
 --pobo-widget-warning-two-after-bg: none;
 --pobo-widget-warning-two-after-top: 0;
 --pobo-widget-warning-two-after-right: 0;
 --pobo-widget-warning-two-after-width: 0;
 --pobo-widget-warning-two-after-height: 0;
 --pobo-widget-warning-two-after-index: 0;
 --pobo-widget-videos-padding: var(--pobo-global-widget-padding);
 --pobo-widget-videos-margin: var(--pobo-global-widget-margin);
 --pobo-widget-videos-box-shadow: none;
 --pobo-widget-videos-bg: none;
 --pobo-widget-videos-bg-size: auto;
 --pobo-widget-videos-border-radius: 0;
 --pobo-widget-videos-before-bg: none;
 --pobo-widget-videos-before-top: 0;
 --pobo-widget-videos-before-left: 0;
 --pobo-widget-videos-before-width: 0;
 --pobo-widget-videos-before-height: 0;
 --pobo-widget-videos-before-index: 0;
 --pobo-widget-videos-after-bg: none;
 --pobo-widget-videos-after-top: 0;
 --pobo-widget-videos-after-right: 0;
 --pobo-widget-videos-after-width: 0;
 --pobo-widget-videos-after-height: 0;
 --pobo-widget-videos-after-index: 0;
}