@import "~bootstrap/scss/mixins/_grid.scss";

.pb-row {
  @include make-row();
}

.pb-no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="pb-col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}
