.arsov-text {
  width: 100%;
  font-family: 'SofiaPro', sans-serif !important;
  font-weight: bold;
  font-style: normal;

  &__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  &__title {
    font-size: 50px;
    margin: 0 0 30px 0;
    font-family: 'SofiaPro', sans-serif !important;
    font-weight: bold;
    font-style: normal;
    @include media-breakpoint-down(sm) {
      font-size: 32px;
      text-align: left;
      padding: 0 15px;
    }
  }

  &__content {
    font-size: 15px;
    max-width: 600px;
    line-height: 1.5;
    font-family: 'SofiaPro', sans-serif !important;
    font-weight: bold;
    font-style: normal;
    @include media-breakpoint-down(sm) {
      text-align: left;
      padding: 0 15px;
    }
  }

  &__items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    @include media-breakpoint-down(sm) {
      justify-content: flex-start;
      margin-left: 15px;
      margin-top: 40px;
    }
  }

  &__items-single {
    max-width: 150px;
    display: flex;
  }

  &__items-content {
    font-size: 17px;
    text-align: left;
    padding-left: 10px;
    font-family: 'SofiaPro', sans-serif !important;
    font-weight: bold;
    font-style: normal;
    text-transform: unset;
  }

  &__items-img {
    width: 100%;
    max-width: 40px;
    object-fit: contain;
  }
}

.arsov-title {
  width: 100%;
  margin: 90px 0 60px 0;
  font-family: SofiaPro, sans-serif !important;
  font-weight: bold;
  font-style: normal;

  &__wrap {
    text-align: center;
    @include media-breakpoint-down(sm) {
      text-align: left;
      padding-left: 15px;
    }
  }

  &__content {
    font-size: 50px;
    font-family: 'SofiaPro', sans-serif !important;
    font-weight: bold;
    font-style: normal;
    @include media-breakpoint-down(sm) {
      font-size: 32px;
    }
  }
}

.arsov-photo-left {
  width: 100%;
  padding: 0;
  margin: 0;

  @include media-breakpoint-down(sm) {
    margin-bottom: 30px;
  }

  &__wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include media-breakpoint-down(sm) {
      grid-template-columns:  1fr;
      justify-items: center;
    }
  }

  &__photo, &__content {
    height: 100%;
  }

  &__photo {
    @include media-breakpoint-down(sm) {
      order: 1;
    }
  }

  &__photo-img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include media-breakpoint-down(sm) {
      max-width: 600px;
    }
  }

  &__content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 15px;

    @include media-breakpoint-down(sm) {
      align-items: flex-start;
      order: 2;
    }
  }

  &__content-img {
    position: relative;
    max-width: 45px;
    margin: 0 0 30px 0;

    @include media-breakpoint-down(sm) {
      margin: 30px 0;
    }
  }

  &__content-title {
    font-family: SofiaPro, sans-serif !important;
    font-size: 24px;
    margin: 0;
    font-weight: bold;
    font-style: normal;
  }


  &__items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px 0;

    @include media-breakpoint-down(sm) {
      justify-content: flex-start;
      margin: 0 0 30px;
    }
  }

  &__items-single {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    @include media-breakpoint-down(sm) {
      margin-top: 30px;
    }
  }

  &__items-img {
    position: relative;
  }

  &__items-subtitle {
    font-family: 'SofiaPro', sans-serif !important;
    padding-left: 10px;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
  }

  &__text {
    font-family: 'SofiaPro', sans-serif !important;
    font-size: 15px;
    text-align: center;
    line-height: 1.4;
    color: #190701;
    max-width: 380px;
    font-weight: normal;
    font-style: normal;
    @include media-breakpoint-down(sm) {
      text-align: left;
    }
  }
}


.arsov-carousel {
  width: 100%;
  position: relative;
  display: inline-block;
  margin-bottom: 60px;
  margin-top: 20px;

  &__wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.32);

    @include media-breakpoint-down(md) {
      justify-content: flex-start;
      padding-top: 30px;
    }
  }

  &__wrap-number {
    margin: 0 0 30px 0;
    font-family: 'SofiaPro', sans-serif !important;
    font-size: 25px;
    color: white;
    font-weight: normal;
    font-style: normal;

    @include media-breakpoint-down(sm) {
      font-size: 20px;
      margin: 0 0 20px 0;
    }
  }

  &__wrap-title {
    position: relative;
    margin: 0 0 30px 0;
    font-family: 'SofiaPro', sans-serif !important;
    font-weight: bold;
    font-size: 50px;
    color: white;
    @include media-breakpoint-down(sm) {
      font-size: 24px;
      margin: 0 0 20px 0;
    }
  }

  &__wrap-text {
    max-width: 600px;
    font-family: 'SofiaPro', sans-serif !important;
    font-weight: bold;
    line-height: 1.4;
    color: white;
  }

  &__img {
    display: block;
    width: 100%;
    aspect-ratio: 16 / 9;
    @include media-breakpoint-down(sm) {
      height: 350px;
      max-width: unset;
      object-fit: cover;
    }
  }

  &__container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }

  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__small-img {
    width: 160px;
    height: 120px;
    margin: 0 5px;
    object-fit: cover;
    cursor: pointer;
    position: relative;
    border-radius: 5px;

    @include media-breakpoint-down(sm) {
      width: 80px;
      height: 50px;
    }

    &:hover {

    }
  }

  &__small-img.selected {
    position: relative;
    background: red;
    display: block;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 160px;
      height: 120px;
      background: red;
      display: block;
    }
  }
}

.arsov-about {
  width: 100%;

  &__wrap {
    display: flex;
    width: 100%;
    @include media-breakpoint-down(sm) {
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }

  &__left, &__right {
    width: 50%;
    padding: 20px 40px;
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }

  &__left-img {
    width: 100%;
  }

  &__right {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__right-title {
    font-size: 30px;
    font-family: 'SofiaPro', sans-serif !important;
    font-weight: bold;
    font-style: normal;
    margin: 0 0 30px 0;
  }

  &__right-content {
    font-size: 15px;
    font-family: 'SofiaPro', sans-serif !important;
    font-weight: normal;
    font-style: normal;
    margin: 0 0 30px 0;
    line-height: 1.5;
  }

  &__right-link {
    color: #F4B33D;
    font-family: 'SofiaPro', sans-serif !important;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
  }
}

.arsov-photo-right {
  width: 100%;

  &__wrap {
    width: 100%;
    display: flex;
    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  &__content, &__photo {
    width: 50%;
    padding: 0 20px;
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }

  &__photo {
    display: flex;
    align-items: center;
  }

  &__content-title {
    position: relative;
    margin: 0 0 30px 0;
    font-family: 'SofiaPro', sans-serif !important;
    font-weight: bold;
    font-style: normal;
    font-size: 50px;
    @include media-breakpoint-down(sm) {
      font-size: 32px;
      margin: 0;
    }
  }

  &__photo-img {
    width: 100%;
  }


  &__items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 50px 0;
    @include media-breakpoint-down(sm) {
      justify-content: flex-start;
      margin-top: 40px;
    }
  }

  &__items-single {
    max-width: 150px;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-family: 'SofiaPro', sans-serif !important;
    font-weight: bold;
    font-style: normal;
    @include media-breakpoint-down(sm) {
      margin: 10px 0;
    }
  }

  &__items-textbold {
    display: inline-block;
    font-family: 'SofiaPro', sans-serif !important;
    font-weight: bold;
    font-style: normal;
    font-size: 15px;
    line-height: 1.5;
    max-width: 500px;
  }

  &__items-textregular {
    display: inline-block;
    font-family: 'SofiaPro', sans-serif !important;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    line-height: 1.5;
    margin: 30px 0;
    max-width: 500px;
  }
}


.arsov-effects {
  width: 100%;
  margin-top: 60px;
  font-family: 'SofiaPro', sans-serif !important;
  font-weight: bold;
  font-style: normal;

  &__wrap {
    width: 100%;
    display: flex;
    justify-content: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  &__right, &__left {
    width: 50%;
    padding: 0 12px;
    position: relative;
    display: flex;
    flex-direction: column;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }

  &__left {
    padding: 15px 0 45px 100px;

    &::before {
      position: absolute;
      content: '';
      background: url("https://pobo-cdn.b-cdn.net/widget/arsov/left-top.svg") center no-repeat;
      left: 0;
      top: 0;
      background-size: 100%;
      width: 18px;
      height: 32px;

      @include media-breakpoint-down(sm) {
        left: 10px;
      }
    }

    &::after {
      position: absolute;
      content: '';
      background: url("https://pobo-cdn.b-cdn.net/widget/arsov/left-bottom.svg") center no-repeat;
      width: 47px;
      height: 29px;
      left: 0;
      bottom: 0;
      background-size: 100%;
      @include media-breakpoint-down(sm) {
        background: url("https://pobo-cdn.b-cdn.net/widget/arsov/right-top.svg") center no-repeat;
        right: 10px;
        top: 0;
        left: unset;
        width: 46px;
        height: 29px;
        bottom: unset;
      }

    }

    @include media-breakpoint-down(sm) {
      padding: 15px 0 45px 38px;
    }

    @include media-breakpoint-down(md) {
      padding: 15px 0 45px 50px;
    }

  }

  &__left-title, &__right-title {
    font-family: 'SofiaPro', sans-serif !important;
    font-weight: bold;
    font-style: normal;
  }

  &__right {
    padding: 15px 100px 45px 15px;
    display: flex;
    align-items: center;
    @include media-breakpoint-down(sm) {
      align-items: flex-start;
    }

    &::before {
      position: absolute;
      content: '';
      background: url("https://pobo-cdn.b-cdn.net/widget/arsov/right-top.svg") center no-repeat;
      right: 0;
      top: 0;
      background-size: 100%;
      width: 46px;
      height: 29px;
      @include media-breakpoint-down(sm) {
        background: url("https://pobo-cdn.b-cdn.net/widget/arsov/right-bottom.svg") center no-repeat;
        right: 10px;
        bottom: 0;
        background-size: 100%;
        width: 18px;
        height: 32px;
        top: unset;
      }
    }

    &::after {
      position: absolute;
      content: '';
      background: url("https://pobo-cdn.b-cdn.net/widget/arsov/right-bottom.svg") center no-repeat;
      right: 0;
      bottom: 0;
      background-size: 100%;
      width: 18px;
      height: 32px;

      @include media-breakpoint-down(sm) {
        background: url("https://pobo-cdn.b-cdn.net/widget/arsov/left-bottom.svg") center no-repeat;
        width: 47px;
        height: 29px;
        left: 10px;
      }
    }

    @include media-breakpoint-down(md) {
      padding: 15px 50px 45px 0;
    }
    @include media-breakpoint-down(sm) {
      padding: 15px 0 45px 38px;
    }

  }

  &__title {
    text-align: left;
  }

  &__left-items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    @include media-breakpoint-down(sm) {
      grid-template-columns:  1fr;
      gap: 15px;
    }
  }

  &__right-items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @include media-breakpoint-down(sm) {
      grid-template-columns:   repeat(2, 1fr);
    }
  }

  &__right-item, &__left-item {
    width: 100%;
    display: flex;
    align-items: center;
  }

  &__left-text, &__right-text {
    font-size: 15px;
    font-family: 'SofiaPro', sans-serif !important;
    font-weight: bold;
    font-style: normal;
  }

  &__right-img, &__left-img {
    padding-right: 10px;
    max-height: 20px;
  }
}

.arsov-numbers {
  width: 100%;
  font-family: 'SofiaPro', sans-serif !important;
  font-weight: normal;
  font-style: normal;

  &__wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

    @include media-breakpoint-down(sm) {
      grid-template-columns:  1fr;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media-breakpoint-down(sm) {
      align-items: flex-start;
      margin-left: 15px;
    }
  }

  &__img {
    width: 100%;
    object-fit: contain;
    max-width: 70px;
    max-height: 57px;
  }

  &__item-img {
    height: 60px;
    margin-bottom: 15px;
    @include media-breakpoint-down(sm) {
      margin-left: 5px;
    }
  }

  &__text {
    font-size: 15px;
    text-align: center;
    @include media-breakpoint-down(sm) {
      text-align: left;
    }
    line-height: 1.4;
  }
}

.arsov-reviews {
  width: 100%;
  font-family: 'SofiaPro', sans-serif !important;
  margin-top: 60px;
  font-weight: normal;
  font-style: normal;

  &__wrap {
    width: 100%;
  }

  &__items {
    width: 100%;
    display: flex;
    gap: 30px;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  &__item {
    display: flex;
    gap: 31px;
    @include media-breakpoint-down(sm) {
      padding-left: 15px;
    }
  }

  &__item-left {
    width: 71px;
  }

  &__item-right {
    width: calc(100% - 71px);
  }

  &__item-img {
    width: 71px;
    height: 71px;
    object-fit: cover;
    border-radius: 50%;
  }

  &__item-text {
    font-size: 15px;
    line-height: 1.4;
  }

  &__item-info {
    width: 100%;
    margin-top: 20px;
    font-size: 15px;
  }

  &__item-name {
    font-size: 15px;
    font-family: 'SofiaPro', sans-serif !important;
    font-weight: bold;
    font-style: normal;
  }

  &__title {
    font-family: 'SofiaPro', sans-serif !important;
    font-weight: bold;
    font-style: normal;
    margin-bottom: 30px;
    @include media-breakpoint-down(sm) {
      padding-left: 15px;
    }
  }
}

.arsov-tomas {
  width: 100%;
  margin-top: 60px;
  background: #F4C3CA;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'SofiaPro', sans-serif !important;
  font-weight: normal;
  font-style: normal;
  @include media-breakpoint-down(sm) {
    margin-top: 210px;
    border-radius: 5px;
  }

  &__wrap {
    display: flex;
    width: 100%;
    max-width: 700px;
    padding: 50px 0;
    gap: 30px;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      padding-bottom: 0;
      margin-bottom: -130px;
    }
  }

  &__right {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    @include media-breakpoint-down(sm) {
      width: 100%;
      top: -180px;
    }
  }

  &__left {
    width: 35%;
    display: flex;
    align-items: center;
    position: relative;
    @include media-breakpoint-down(sm) {
      width: 100%;
      top: -180px;
    }
  }

  &__img {
    width: 100%;
    max-width: 271px;
    position: relative;
    @include media-breakpoint-down(sm) {
      max-width: none;
      padding: 0 20px;
    }
  }

  &__text {
    font-family: 'SofiaPro', sans-serif !important;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    line-height: 1.4;
    @include media-breakpoint-down(sm) {
      padding: 15px;
      text-align: center;
    }
  }

  &__signature {
    font-family: SofiaPro, sans-serif !important;
    font-weight: bold;
    font-style: italic;
    padding-top: 25px;
    font-size: 18px;
    @include media-breakpoint-down(sm) {
      padding: 15px;
      text-align: center;
    }
  }
}

.arsov-ingredients {
  width: 100%;
  margin-top: 80px;

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

    @include media-breakpoint-down(sm) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    @include media-breakpoint-down(sm) {
      align-items: flex-start;
      text-align: left;
    }
  }

  &__img {
    margin-bottom: 30px;
    width: 100%;
    max-width: 170px;
  }

  &__title {
    margin: 0 0 5px 0;
    font-size: 15px;
    font-family: 'SofiaPro', sans-serif !important;
    font-weight: bold;
    font-style: normal;
    @include media-breakpoint-down(sm) {
      padding-left: 15px;
    }
  }

  &__text {
    max-width: 200px;
    font-family: 'SofiaPro', sans-serif !important;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    line-height: 1.4;
    @include media-breakpoint-down(sm) {
      padding-left: 15px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__info, &__info-gray {
    text-align: center;
    font-size: 15px;
    margin-top: 45px;
    line-height: 1.4;
    font-family: 'SofiaPro', sans-serif !important;
    font-weight: normal;
    font-style: normal;
    @include media-breakpoint-down(sm) {
      padding: 0 15px;
      text-align: left;
    }
  }

  &__info-gray {
    text-transform: uppercase;
    color: #9C9EA9;
  }
}

.pb-arsov-effects {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include media-breakpoint-up(xl) {
    flex-direction: row;
    gap: 20px;
  }

  &__list-section {
    background-color: #faf7f4;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 24px;

    @include media-breakpoint-up(xl) {
      flex-basis: 320px;
      flex-grow: 1;
      flex-shrink: 0;
    }

    @include media-breakpoint-up(xxl) {
      flex-basis: 460px;
    }
  }

  &__benefits-section {
    background-color: #faf7f4;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 24px 24px 40px;

    @include media-breakpoint-up(xl) {
      flex: 1 1 auto;
    }
  }

  &__title {
    color: #000;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    margin: 0 0 16px;
    text-transform: none;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    align-items: center;
    color: #000;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    gap: 8px;
    line-height: 1.6;
    text-transform: none;

    &:before {
      content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='12' fill='none' viewBox='0 0 16 12'%3E%3Cpath stroke='%231125A9' stroke-linecap='round' stroke-width='2' d='M1 5.5 5.5 10l9-9'/%3E%3C/svg%3E");
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include media-breakpoint-up(md) {
      flex-direction: row;
    }
  }

  &__card-icon {
    height: 48px;
    margin-bottom: 12px;
  }

  &__card-img {
    position: relative;
  }

  &__card-heading {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 4px;
    color: #000;
    line-height: 1.6;
    text-transform: none;
  }

  &__card-text {
    color: #000;
    line-height: 1.6;
    text-transform: none;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
  }
}

.pb-arsov-usage {
  position: relative;

  &__title {
    color: #000;
    font-size: 26px;
    font-weight: 500;
    line-height: 1.6;
    margin: 0 0 20px;
    text-align: center;
    text-transform: none;

    @include media-breakpoint-up(lg) {
      font-size: 30px;
      line-height: 1.2;
    }
  }

  &__steps {
    display: flex;
    flex-direction: column;
    gap: 18px;
    flex-wrap: wrap;

    @include media-breakpoint-up(xl) {
      flex-direction: row;
    }

    @include media-breakpoint-up(xxl) {
      gap: 20px;
    }
  }

  &__step-wrap {
    display: flex;
    align-items: center;
    position: relative;
    
    @include media-breakpoint-up(xl) {
      flex: 0 0 calc(25% - 15px);
      max-width: calc(25% - 15px);
    }
    
    &:nth-child(4n) .pb-arsov-usage__arrow,
    &:last-child .pb-arsov-usage__arrow {
      display: none;
    }
    
    @include media-breakpoint-down(lg) {
      &:last-child .pb-arsov-usage__arrow {
        display: none;
      }
    }
  }

  &__step {
    margin: 0 auto;
    max-width: 420px;
    position: relative;
    flex: 1;

    @include media-breakpoint-up(xl) {
      max-width: none;
    }

    &:last-child:after {
      display: none;
    }
  }
  
  > .pb-arsov-usage__step {
    @include media-breakpoint-up(xl) {
      flex: 1 1 0;
      max-width: none;
    }
  }

  &__step-image {
    border-radius: 5px;
    margin-bottom: 12px;
  }

  &__image {
    max-width: 100%;
    position: relative;
  }

  &__step-text {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    margin: 0;
    text-transform: none;
  }

  &__arrow {
    font-size: 0;
    height: 100%;
    text-align: center;
    flex-shrink: 0;
    display: none;

    @include media-breakpoint-up(xl) {
      display: block;
      width: 32px;
    }

    @include media-breakpoint-up(xxl) {
      width: 45px;
    }

    &:before {
      content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='45' fill='none' viewBox='0 0 15 45'%3E%3Cpath fill='%23DDC9BB' d='M6.657 44.707a1 1 0 0 0 1.414 0l6.364-6.364a1 1 0 0 0-1.414-1.414l-5.657 5.657-5.657-5.657a1 1 0 0 0-1.414 1.414zM7.364 0h-1v44h2V0z'/%3E%3C/svg%3E");
      display: block;
      text-align: center;

      @include media-breakpoint-up(xl) {
        content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='15' fill='none' viewBox='0 0 45 15'%3E%3Cpath fill='%23DDC9BB' d='M44.707 8.071a1 1 0 0 0 0-1.414L38.343.293a1 1 0 1 0-1.414 1.414l5.657 5.657-5.657 5.657a1 1 0 0 0 1.414 1.414zM0 7.364v1h44v-2H0z'/%3E%3C/svg%3E");
        position: relative;
        top: auto;
        transform: none;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
      }

      @include media-breakpoint-up(xxl) {
        content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='45' height='15' fill='none' viewBox='0 0 45 15'%3E%3Cpath fill='%23DDC9BB' d='M44.707 8.071a1 1 0 0 0 0-1.414L38.343.293a1 1 0 1 0-1.414 1.414l5.657 5.657-5.657 5.657a1 1 0 0 0 1.414 1.414zM0 7.364v1h44v-2H0z'/%3E%3C/svg%3E");
      }
    }
  }
  
  > .pb-arsov-usage__arrow {
    display: none;
    
    @include media-breakpoint-up(xl) {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      
      &:before {
        position: static;
        transform: none;
      }
    }

    @include media-breakpoint-up(xxl) {
      width: 45px;
    }
  }

  &__sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}


.content-editor__placeholder-inner .pb-arsov-effects{
  flex-direction: column;
}
