.rc-parameter {
  &__box-big-right-parameter {
    display: flex;
    width: 100%;
    align-items: var(--pobo-parameter-big-right-align-items);
    position: relative;
    padding: var(--pobo-parameter-big-right-padding);
    margin: var(--pobo-parameter-big-right-margin);
  }

  &__box-big-right-parameter-icon {
    width: var(--pobo-parameter-big-right-icon-size);
    height: var(--pobo-parameter-big-right-icon-size);
    border: var(--pobo-parameter-big-right-icon-border);
    border-radius: var(--pobo-parameter-big-right-icon-border-radius);
    box-shadow: var(--pobo-parameter-big-right-icon-box-shadow);
    background: var(--pobo-parameter-big-right-icon-bg);
  }

  &__box-big-right-icon-img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
  }

  &__box-big-right-icon-image {
    position: relative;
    display: flex;
    align-items: var(--pobo-parameter-big-right-icon-align-items);
    justify-content: var(--pobo-parameter-big-right-icon-justify-content);
    height: 100%;
    width: 100%;
  }

  &__box-big-right-content {
    width: calc(100% - var(--pobo-parameter-big-right-icon-size));
    order: var(--pobo-parameter-big-right-content-order);
    padding: var(--pobo-parameter-big-right-content-padding);
  }

  &__box-big-right-content-text {
    display: block;
    font-size: var(--pobo-parameter-big-right-value-font-size);
    line-height: var(--pobo-parameter-big-right-value-line-height);
    color: var(--pobo-parameter-big-right-value-font-color);
    font-weight: var(--pobo-parameter-big-right-value-font-weight);
    text-align: var(--pobo-parameter-big-right-value-text-align);
  }

  &__box-big-right-content-value {
    display: block;
    font-weight: var(--pobo-parameter-big-right-info-font-weight);
    margin: var(--pobo-parameter-big-right-info-margin);
    font-size: var(--pobo-parameter-big-info-font-size);
    line-height: var(--pobo-parameter-big-info-line-height);
    color: var(--pobo-parameter-big-right-info-font-color);
    text-align: var(--pobo-parameter-big-right-info-text-align);
  }
}