body {
  #pobo-standard-widget,
  #pobo-share-widget {
    font-family: var(--pobo-font-family);

    .widget-container:not(
    .widget-counter,
    .widget-jumbotron-one,
    .widget-text-image-top,
    .widget-title-line,
    .widget-image-one) {
      position: relative;

      & > div {
        max-width: var(--pobo-global-widget-max-width);
        margin: 0 auto;
      }
    }
  }
}


// Example of a container resolver
:root {
  [data-pobo-unique-id="1"] {
    // --pobo-widget-author-top-bg: blue;
  }

  [data-pobo-unique-id="3"] {
  }

  [data-pobo-unique-id="4"] {
  }
}

.d-none {
  display: none;
}