@media only screen and (max-width: 756px) {
  :root {
    --pobo-counter-padding: 50px 0;
    --pobo-counter-header-half-font-size: 18px;
    --pobo-image-left-box-bg: none;
    --pobo-image-left-text-align: left;
    --pobo-image-left-padding: 20px;
    --pobo-image-left-margin: 0 0 0;
    --pobo-image-left-border-radius: 0;
    --pobo-image-right-box-bg: none;
    --pobo-image-right-text-align: left;
    --pobo-image-right-padding: 20px;
    --pobo-image-right-margin: 0 0 0;
    --pobo-image-right-border-radius: 0;
    --pobo-team-three-single-margin: 0 10px;
    --pobo-card-call-to-action-single-margin: 0 10px;
    --pobo-author-top-text-padding: 10px 0 0 0;
    --pobo-author-top-text-content-font-size: 14px;
    --pobo-author-top-text-content-line-height: 22px;
    --pobo-author-above-content-text-font-size: 14px;
    --pobo-author-above-content-text-line-height: 22px;
    --pobo-reviews-two-inner-margin: 0 10px;
    --pobo-interview-photo-margin: 0 10px;
    --pobo-author-left-margin: 0 10px;
    --pobo-author-top-wrap-margin: 0 10px;
    --pobo-author-above-wrap-margin: 0 10px;
    --pobo-text-in-image-single-content-padding: 10px;
    --pobo-text-in-image-single-header-font-size: 20px;
    --pobo-text-in-image-single-text-font-size: 14px;
    --pobo-text-in-image-single-text-line-height: 18px;
    --pobo-text-in-image-single-img-height: 400px;
    --pobo-rating-two-box-margin: 0 10px 15px 10px;
    --pobo-quotation-card-wrap-margin: 0 10px;
    --pobo-reviews-three-single-margin: 0 10px;
    --pobo-quotation-split-wrap-margin: 0 10px;
    --pobo-parameter-header-text-align: center;
    --pobo-parameter-header-left-align: center;
    --pobo-parameter-big-padding: 5px 10px;
    --pobo-inline-image-wrap-gap-md: 10px;
    --pobo-parameter-header-left-margin: 15px 0 5px 0;
    --pobo-parameter-header-margin: 15px 0 5px 0;
    --pobo-checked-right-image-list-padding: 0 10px;
    --pobo-inline-content-image-width: 50px;
    --pobo-inline-sec-image-width: 50px;
    --pobo-inline-sec-image-min-width: 50px;
    --pobo-inline-image-title-padding: 0 0 5px 0;

    --pobo-video-right-box-padding: 20px;
    --pobo-video-left-box-padding: 20px;
    --pobo-video-half-right-box-padding: 20px;
    --pobo-video-half-left-box-padding: 20px;
    --pobo-parameter-small-left-content-order: 1;
    --pobo-global-widget-padding: 20px 0;

    --pobo-advantages-three-title-font-size: 16px;
    --pobo-advantages-three-title-line-height: 20px;

    --pobo-advantages-two-title-font-size: 16px;
    --pobo-advantages-two-title-line-height: 20px;

    --pobo-advantages-four-title-font-size: 16px;
    --pobo-advantages-four-title-line-height: 20px;
    --pobo-advantages-flex-wrap: wrap;
    --pobo-advantages-gap: 20px;

    --pobo-profit-list-padding: 10px;
  }
}
