.rc-advantages-two {
  padding: var(--rc-global-widget-padding);
  margin: var(--rc-global-widget-margin);
  background: var(--rc-advantages-bg);
  box-shadow: var(--rc-advantages-box-shadow);
  border: var(--rc-advantages-border-radius);
  background: var(--rc-image-bg);
  border: var(--rc-image-border-color);

  @include media-breakpoint-up(sm) {
    padding: 20px 0;
    display: flex;
  }

  &__item {
    padding: var(--rc-advantages-item-padding);
    border: var(--rc-advantages-item-border);
    background: var(--rc-advantages-item-bg);
    box-shadow: var(--rc-advantages-item-box-shadow);
    border-radius: var(--rc-advantages-item-border-radius);
    margin: var(--rc-advantages-item-margin);

    @include media-breakpoint-up(sm) {
      width: calc(100% / 2);
    }
  }

  &__ico-container {
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: var(--rc-advantages-ico-container-border-radius);
    margin: var(--rc-advantages-ico-container-margin);
    box-shadow: var(--rc-advantages-ico-container-box-shadow);
    background: var(--rc-advantages-ico-container-bg);
    padding: var(--rc-advantages-ico-container-padding);
    width: var(--rc-advantages-ico-container-width);
    height: var(--rc-advantages-ico-container-height);
  }

  &__ico-img {
    margin: 0 auto;
    max-height: var(--rc-advantages-ico-container-img-max-height);
    max-width: var(--rc-advantages-ico-container-img-max-width);
    box-shadow: var(--rc-advantages-ico-container-img-box-shadow);
    background: var(--rc-advantages-ico-container-img-bg);
    border-radius: var(--rc-advantages-ico-container-img-border-radius);
    border: var(--rc-advantages-ico-container-img-border-color)
  }

  &__info {
    text-align: center;
  }

  &__info-header {
    padding: var(--rc-advantages-title-padding);
    margin: var(--rc-advantages-title-margin);
    color: var(--rc-advantages-title-font-color);
    font-size: var(--rc-advantages-title-font-size);
    line-height: var(--rc-advantages-title-line-height);
    font-weight: var(--rc-advantages-title-font-weight);

    @include media-breakpoint-down(sm) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__info-text {
    display: block;
    padding: var(--rc-advantages-info-margin);
    margin: var(--rc-advantages-info-padding);
    color: var(--rc-advantages-info-font-color);
    font-size: var(--rc-advantages-info-font-size);
    line-height: var(--rc-advantages-info-line-height);
    font-weight: var(--rc-advantages-info-font-weight);
  }
}
