/*** SMAZAT, FONTY BUDOU NÁSLEDNĚ PŘÍMO V SHOPTETU */

@font-face {
  font-family: 'SofiaProRegular';
  src: url('font/SofiaProRegular.woff2') format('woff2'),
  url('font/SofiaProRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SofiaProBold';
  src: url('font/SofiaProSemiBold.woff2') format('woff2'),
  url('font/SofiaProSemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.arsov-text{
  width: 100%;
  font-family: SofiaProBold, sans-serif;

  &__wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  &__title{
    font-size: 50px;
    margin: 0 0 30px 0;
    @include media-breakpoint-down(sm) {
      font-size: 32px;
      text-align: left;
      padding: 0 15px;
    }
  }

  &__content{
    font-size: 15px;
    max-width: 600px;
    line-height: 1.3;
    @include media-breakpoint-down(sm) {
      text-align: left;
      padding: 0 15px;
    }
  }

  &__items{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    @include media-breakpoint-down(sm) {
      justify-content: flex-start;
      margin-left: 15px;
      margin-top: 40px;
    }
  }

  &__items-single{
    max-width: 150px;
    display: flex;
  }

  &__items-content{
    font-size: 17px;
    text-align: left;
    padding-left: 10px;
  }

  &__items-img{
    width: 100%;
    max-width: 40px;
    object-fit: contain;
  }
}

.arsov-title{
  width: 100%;
  margin: 90px 0 60px 0;
  font-family: SofiaProBold, sans-serif;
  &__wrap{
    text-align: center;
  }

  &__content{
    font-size: 50px;
    @include media-breakpoint-down(sm) {
      font-size: 32px;
    }
  }
}

.arsov-photo-left{
  width: 100%;
  padding: 0;
  margin: 0;

  @include media-breakpoint-down(sm) {
    margin-bottom: 30px;
  }
  &__wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include media-breakpoint-down(sm) {
      grid-template-columns:  1fr;
      justify-items: center;
    }
  }

  &__photo, &__content{
    height: 100%;
  }

  &__photo{
    @include media-breakpoint-down(sm) {
      order: 1;
    }
  }

  &__photo-img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include media-breakpoint-down(sm) {
      max-width: 600px;
    }
  }

  &__content{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 15px;

    @include media-breakpoint-down(sm) {
      align-items: flex-start;
      order: 2;
    }
  }

  &__content-img{
    position: relative;
    max-width: 45px;
    margin: 0 0 30px 0;

    @include media-breakpoint-down(sm) {
      margin: 30px 0;
    }
  }

  &__content-title{
    font-family: SofiaProBold, sans-serif;
    font-size: 24px;
    margin: 0;
  }

  &__items{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px 0;

    @include media-breakpoint-down(sm) {
      justify-content: flex-start;
      margin: 0 0 30px;
    }
  }

  &__items-single{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    @include media-breakpoint-down(sm) {
      margin-top: 30px;
    }
  }

  &__items-img{
    position: relative;
  }
  &__items-subtitle{
    font-family: 'SofiaProRegular', sans-serif;
    font-weight: 200;
    padding-left: 10px;
    font-size: 15px;
  }

  &__text{
    font-family: 'SofiaProRegular', sans-serif;
    font-size: 15px;
    text-align: center;
    line-height: 1.4;
    color: #190701;
    max-width: 380px;
    @include media-breakpoint-down(sm) {
      text-align: left;
    }
  }
}




.arsov-carousel {
  width: 100%;
  position: relative;
  display: inline-block;
  margin-bottom: 60px;
  &__wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.32);

    @include media-breakpoint-down(md) {
      justify-content: flex-start;
      padding-top: 30px;
    }
  }

  &__wrap-number{
    margin: 0 0 30px 0;
    font-family: 'SofiaProRegular', sans-serif;
    font-size: 25px;
    font-weight: 300;
    color: white;

    @include media-breakpoint-down(sm) {
      font-size: 20px;
      margin: 0 0 20px 0;
    }
  }

  &__wrap-title{
    position: relative;
    margin: 0 0 30px 0;
    font-family: 'SofiaProBold', sans-serif;
    font-size: 50px;
    color: white;
    @include media-breakpoint-down(sm) {
     font-size: 24px;
      margin: 0 0 20px 0;
    }
  }

  &__wrap-text{
    max-width: 600px;
    font-family: 'SofiaProBold', sans-serif;
    line-height: 1.4;
    color: white;
  }

  &__img {
    display: block;
    width: 100%;
    aspect-ratio: 16 / 9;
    @include media-breakpoint-down(sm) {
      height: 350px;
      max-width: unset;
      object-fit: cover;
    }
  }

  &__container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }

  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__small-img {
  width: 160px;
  height: 120px;
  margin: 0 5px;
  object-fit: cover;
  cursor: pointer;
  position: relative;
  border-radius: 5px;

    @include media-breakpoint-down(sm) {
      width: 80px;
      height: 50px;
    }
  &:hover{

  }
}

&__small-img.selected {
  position: relative;
  background: red;
  display: block;
  &::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 160px;
    height: 120px;
    background: red;
    display: block;
  }
}
}

/*** Přestylování přímo na eshopu  */

.pb-faq{
  box-shadow: unset;
  margin: 30px 0;
  &__header{
    background: #F4B33D;
    box-shadow: unset;
    outline: none;
    border: unset;
    margin: 0 !important;
    padding: 17px 15px !important;
    border-radius: 3px;
    font-family: 'SofiaProBold', sans-serif;
    font-size: 15px;
    &:before{
      background: url("https://pobo-cdn.b-cdn.net/widget/arsov/Polygon.svg") center no-repeat;
      right: 5px;
      left: unset;
    }
  }
}

.arsov-about{
  width: 100%;
  &__wrap{
    display: flex;
    width: 100%;
    @include media-breakpoint-down(sm) {
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }

  &__left, &__right{
    width: 50%;
    padding: 20px 40px;
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }

  &__left-img{
    width: 100%;
  }

  &__right{
    display: flex;
    justify-content: center;
    //align-items: center;
    flex-direction: column;
  }

  &__right-title{
    font-size: 30px;
    font-family: 'SofiaProBold', sans-serif;
    margin: 0 0 30px 0;
  }

  &__right-content{
    font-size: 15px;
    font-family: 'SofiaProRegular', sans-serif;
    margin: 0 0 30px 0;
    line-height: 1.5;
  }

  &__right-link{
    color: #F4B33D;
    font-family: 'SofiaProRegular', sans-serif;
    font-size: 15px;
  }
}
