.rc-author-above {
  width: 100%;
  display: flex;
  padding: var(--pobo-global-widget-padding);
  margin: var(--pobo-global-widget-margin);
  align-items: center;
  justify-content: center;

  &__wrap {
    display: flex;
    position: relative;
    height: 100%;
    max-width: var(--pobo-author-above-max-width);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--pobo-author-above-wrap-border-radius);
    box-shadow: var(--pobo-author-above-wrap-box-shadow);
  }

  &__wrap-img {
    position: relative;
  }

  &__photo-img {
    position: relative;
    top: var(--pobo-author-above-photo-img-top);
    border-radius: var(--pobo-author-above-photo-img-radius);
    height: var(--pobo-author-above-photo-img-size);
    width: var(--pobo-author-above-photo-img-size);
    object-fit: cover;
    object-position: center;
    border: var(--pobo-author-above-photo-img-border);
  }

  &__content {
    text-align: center;
    padding: var(--pobo-author-above-content-padding);
    position: relative;
    top: var(--pobo-author-above-content-top);

    @include media-breakpoint-down(sm) {
      padding: var(--pobo-author-above-content-padding-sm);
    }
  }

  &__content-name {
    font-size: var(--pobo-author-above-content-name-font-size);
    font-weight: bold;
    margin: var(--pobo-author-above-content-name-margin);
    padding: var(--pobo-author-above-content-name-padding);
  }

  &__content-text {
    color: var(--pobo-author-above-content-text-color);;
    font-size: var(--pobo-author-above-content-text-font-size);
    line-height: var(--pobo-author-above-content-text-line-height);
  }

  &__content-link {
    padding-top: var(--pobo-author-above-content-link-padding-top);
    color: var(--pobo-author-above-content-link-color);
    font-weight: bold;
    font-size: var(--pobo-author-above-content-link-font-size);

    &:hover {
      color: var(--pobo-author-above-content-link-color);
      text-decoration: underline;
    }
  }
}
