$element: ".rc-counter";

#{$element} {
  display: grid;
  position: relative;
  overflow: hidden;
  border-radius: var(--rc-counter-border-radius);
  border: var(--rc-counter-border);
  box-shadow: var(--rc-counter-box-shadow);
  background: var(--rc-counter-bg);
  padding: var(--rc-global-widget-padding);
  margin: var(--rc-global-widget-margin);


  @include media-breakpoint-down(sm) {
    padding: 10px 0;
  }

  &__img {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: calc(-50%);
    z-index: 5;
  }

  &:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--rc-counter-overlay-bg);
    z-index: 8;
  }

  &__two {
    grid-template-columns: 50% 50%;
  }

  &__three {
    grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
  }

  &__box {
    position: relative;
    z-index: 8;
  }

  &__inner {
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    font-family: Arial, sans-serif;

    @include media-breakpoint-down(sm) {
      padding: 10px 5px;
    }
  }

  &__header {
    font-size: var(--rc-counter-header-font-size);
    color: var(--rc-counter-header-font-color);
    margin: var(--rc-counter-header-margin);
    padding: var(--rc-counter-header-padding);
    font-weight: var(--rc-counter-header-font-weight);
    text-shadow: var(--rc-counter-header-text-shadow);


    @include media-breakpoint-down(sm) {
      font-size: 16px;
    }


    &--medium {
      font-size: var(--rc-counter-header-half-font-size);
      color: var(--rc-counter-header-half-font-color);
      margin: var(--rc-counter-header-half-margin);
      padding: var(--rc-counter-header-half-padding);
      font-weight: var(--rc-counter-header-half-font-weight);
      text-shadow: var(--rc-counter-header-half-text-shadow);
    }
  }

  &__info {
    font-size: var(--rc-counter-info-font-size);
    color: var(--rc-counter-info-font-color);
    margin: var(--rc-counter-info-margin);
    padding: var(--rc-counter-info-padding);
    font-weight: var(--rc-counter-info-font-weight);
    text-shadow: var(--rc-counter-info-text-shadow);


    @include media-breakpoint-down(sm) {
      font-size: 12px;
    }

    &--medium {
      font-size: 18px;

      @include media-breakpoint-down(sm) {
        font-size: 13px;
      }
    }
  }
}
