.rc-dynamic-gallery{
    width: 100%;
    display: flex;
    padding: 20px 0;
    align-items: center;
    justify-content: center;

    &__wrap{
        padding: 10px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24%, 1fr));
        grid-gap: 10px;

        @include media-breakpoint-down(sm) {
            grid-template-columns: repeat(auto-fit, minmax(49%, 1fr));
          }
       
    }

    &__photo{ 
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-height: 250px;
    }  
}