@import "node_modules/bootstrap/scss/_functions.scss";
@import "node_modules/bootstrap/scss/_variables.scss";
@import "node_modules/bootstrap/scss/mixins/_breakpoints.scss";

@import 'lightgallery/css/lightgallery.css';
@import 'lightgallery/css/lg-thumbnail.css';


@mixin infobox {
  h1,
  h2,
  h3 {
    padding: 0;
    margin: 0 0 10px 0;
    font-size: 20px;
    line-height: 25px;
  }

  p {
    font-size: 15px;
    line-height: 20px;
    padding: 0;
    margin: 0;
  }

  ul,
  ol {
    padding: 10px 0 10px 20px;

    li {
      padding: 5px 0;
    }
  }
}

@import "plugin/gallery";
@import "plugin/carousel";
@import "checked-list";
@import "image-right";
@import "image-left";
@import "header-text";
@import "text";
@import "table";
@import "advantages-three";
@import "advantages-four";
@import "advantages-two";
@import "list";
@import "image-half-right";
@import "image-half-left";
@import "rating-two";
@import "conversion-three";
@import "checked-left-image";
@import "checked-right-image";
@import "text-image-top";
@import "rating-image-right";
@import "faq";
@import "text-in-image-one";
@import "text-in-image-two";
@import "text-in-image-three";
@import "user-with-image";
@import "info-box";
@import "profit";
@import "image-right-overlay";
@import "image-left-overlay";
@import "card-call-to-action";

@import "review-one";
@import "review-two";

@import "inline-image";
@import "warning-box-02";
@import "team-widget-01";
@import "reviews-two";
@import "quotation-card";
@import "jumbotron-one";
@import "information-box-02";
@import "successful-box-one";
@import "dynamic-gallery";

@import "title-line";
@import "author-photo-left";
@import "author-photo-top";
@import "author-photo-above";
@import "quotation-split";
@import "reviews-three-in-row";
@import "counter";

@import "utils/grid";
@import "utils/embed";
@import "utils/spacing";
@import "utils/gallery";
@import "rc-interview-photo";
@import "parameter";
@import "product-preview";
@import "plugin/carousel";


@import "custom/yolab-custom";
@import "custom/arsov-custom";
@import "custom/koreankosmetika";
@import "custom/combat-text-widget";
@import "custom/bike-max";
@import "custom/combat-icons";
@import "custom/fv-bikemax-benefit-widget";
@import "custom/lobey-custom";
@import "rc-image-right-two-column";
@import "rc-image-left-two-column";