@mixin infobox {
  h1,
  h2,
  h3 {
    padding: 0;
    margin: 0 0 10px 0;
    font-size: 20px;
    line-height: 25px;
  }

  p {
    font-size: 15px;
    line-height: 20px;
    padding: 0;
    margin: 0;
  }

  ul,
  ol {
    padding: 10px 0 10px 20px;

    li {
      padding: 5px 0;
    }
  }
}

@import "plugin/gallery";
@import "checked-list";
@import "image-right";
@import "image-left";
@import "header-text";
@import "text";
@import "table";
@import "advantages-three";
@import "advantages-four";
@import "advantages-two";
@import "list";
@import "image-half-right";
@import "image-half-left";
@import "rating-two";
@import "conversion-three";
@import "checked-left-image";
@import "checked-right-image";
@import "text-image-top";
@import "rating-image-right";
@import "faq";
@import "text-in-image-one";
@import "text-in-image-two";
@import "text-in-image-three";
@import "user-with-image";
@import "info-box";
@import "image-right-overlay";
@import "image-left-overlay";
@import "combat-text-widget";


@import "review-one";
@import "review-two";

@import "warning-box-02";
@import "team-widget-01";
@import "reviews-two";
@import "quotation-card";
@import "jumbotron-one";
@import "information-box-02";
@import "successful-box-one";
@import "dynamic-gallery";

@import "author-photo-left";
@import "author-photo-top";
@import "author-photo-above";
@import "quotation-split";
@import "reviews-three-in-row";
@import "bike-max";
@import "combat-icons";



@import "grid";
@import "embed";
@import "spacing";
@import "rc-interview-photo";

@import "parameter";


// Custom template
//@import "custom-template/01";
