//@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
//:root {
//  --fv-pobo-white: rgb(255, 255, 255);
//  --fv-pobo-dark: rgb(41, 39, 37);
//  --fv-pobo-dark-8: rgba(41, 39, 37, 0.08);
//  --fv-pobo-dark-16: rgba(41, 39, 37, 0.16);
//  --fv-pobo-dark-64: rgba(41, 39, 37, 0.64);
//  --fv-pobo-sand: rgb(187, 175, 150);
//  --fv-pobo-sand-16: rgba(187, 175, 150, 0.16);
//  --fv-pobo-light: rgb(255, 255, 255);
//  --fv-pobo-green: rgb(27, 167, 140);
//  --fv-pobo-green-8: rgba(27, 167, 140, 0.08);
//  --fv-pobo-green-blue: rgb(191, 223, 217);
//  --fv-pobo-red: rgb(191, 31, 0);
//  --fv-pobo-red-16: rgba(191, 31, 0, 0.16);
//  --fv-pobo-bg-beige: rgb(210, 204, 196);
//  --fv-pobo-bg-green: rgb(222, 245, 224);
//  --fv-pobo-bg-blue: rgb(225, 241, 244);
//  --fv-pobo-bg-yellow: rgb(250, 241, 217);
//  --fv-pobo-pink: rgb(239, 208, 202);
//  --fv-pobo-font-primary: "Urbanist", sans-serif;
//}
//html {
//  font-size: 62.5%;
//}
//body {
//  font-family: var(--fv-pobo-font-primary);
//  max-width: 800px;
//}

@mixin bottom-border-divider() {
  margin-bottom: 2.4rem;
  padding-bottom: 2.4rem;
  border-bottom: 1px solid rgba(41,39,37,.16);

  @media (min-width: 768px) {
    margin-bottom: 6.4rem;
    padding-bottom: 6.4rem;
  }
}
@mixin underline($thickness: .1rem) {
  text-decoration: underline;
  text-decoration-thickness: $thickness;
}
@mixin fv-studio-bosonozka-h2() {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 5.6rem;
  margin: 6.4rem 0 !important;
  color: var(--fv-pobo-dark);
  font-family: var(--fv-pobo-font-primary);

  @media (max-width: 767px) {
    font-size: 3.2rem;
    line-height: 4rem;
    margin: 2.4rem 0 !important;
  }
}
@mixin fv-studio-bosonozka-h2-underline() {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.2rem;
  text-decoration-line: underline;
  text-decoration-thickness: .1rem;
  width: 100% !important;

  @media (min-width: 768px) {
    font-size: 3.2rem;
    line-height: 4rem;
  }
}
@mixin fv-bosonozka-advanced-banner($self) {
  display: flex;
  border-radius: 1.6rem;
  overflow: hidden;
  margin: 6.4rem 0;

  @media (max-width: 767.98px) {
    flex-direction: column;
    margin: 2.4rem 0;
  }

  body.type-product & {
    margin: 1.6rem 0;
  }

  #{ $self }__image,
  #{ $self }__content {
    box-sizing: border-box;
  }

  #{ $self }__text {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    margin: 0 0 2.4rem 0;
    display: block;

    @media (min-width: 768px) {
      font-size: 1.8rem;
      line-height: 2.4rem;
      margin: 0 0 3.2rem 0;

      body.type-product & {
        font-size: 1.6rem;
        margin: unset !important;
      }
    }
  }

  #{ $self }__image {
    width: 100%;
    position: relative;
    max-height: 26rem;
    overflow: hidden;

    @media (min-width: 768px) {
      width: 50%;
      max-height: unset;
    }

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    #{ $self }__button {
      position: absolute;
      bottom: 2rem;
      right: 2rem;
      display: flex;
      padding: .8rem 1.6rem;
      justify-content: center;
      align-items: center;
      gap: 0.4rem;
      border-radius: 8rem;
      background: var(--fv-pobo-dark);
      color: var(--fv-pobo-light);
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 2rem;
      text-decoration: unset;
      transition: all .3s ease-in-out;

      @media (min-width: 768px) {
        padding: 1.6rem 2.4rem;
        font-size: 1.6rem;
        line-height: 2.4rem;
      }

      &:hover {
        opacity: .6;
      }
    }
  }

  #{ $self }__content {
    width: 100%;
    padding: 2.4rem 1.6rem;
    max-height: unset !important;

    @media (min-width: 768px) {
      width: 50%;
      padding: 6.4rem;

      body.type-product & {
        padding: 4.8rem;
      }
    }

    ul#{ $self }__counted {
      > li {
        flex-wrap: unset;
        padding-left: unset;
        font-weight: 400;

        &::before {
          min-width: 2.4rem;
        }
      }
    }

    #{ $self }__headline {
      display: block;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 3.2rem;
      margin: 0 0 1.6rem 0;

      @media (min-width: 768px) {
        font-size: 3.2rem;
        line-height: 4rem;
      }

      p {
        font-weight: inherit !important;
        font-size: inherit !important;
        line-height: inherit !important;
      }
    }

    #{ $self }__headline-text {
      color: var(--fv-pobo-dark);
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2.4rem;
      margin: 0 !important;
      padding: 0;

      @media (max-width: 1223.98px) {
        grid-area: content;
        font-size: 1.4rem;
        line-height: 2rem;
      }
    }

    #{ $self }__text-p {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 2rem;
      margin: 0 0 2.4rem 0;
      display: block;

      @media (min-width: 768px) {
        font-size: 1.8rem;
        line-height: 2.4rem;
        margin: 0 0 3.2rem 0;

        body.type-product & {
          font-size: 1.6rem;
          margin: unset !important;
        }
      }
    }

    #{ $self }__blocks {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1.6rem;
      padding: 0;

      @media (min-width: 768px) {
        gap: 3.2rem;
        padding: 4.8rem 0 0 0;
      }

      #{ $self }__block {
        display: grid;
        grid-template-areas: "ico headline"
                              "ico content";
        grid-template-columns: max-content;
        column-gap: .8rem;
        row-gap: 1.6rem;

        @media (min-width: 768px) {
          display: grid;
          flex-direction: unset;
          row-gap: unset;
        }

        #{ $self }__icon {
          width: 3.2rem;
          height: 3.2rem;
          grid-area: ico;

          @media (max-width: 1223.98px) {
            width: 2.4rem;
            height: 2.4rem;
          }
        }

        #{ $self }__headline {
          color: var(--fv-pobo-dark);
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 2.4rem;
          margin: 0 !important;

          @media (max-width: 1223.98px) {
            grid-area: headline;
            font-size: 1.6rem;
          }

          body.type-product & {
            grid-area: headline;
          }

          p {
            font-weight: inherit !important;
            font-size: inherit !important;
            line-height: inherit !important;
          }
        }

        p {
          color: var(--fv-pobo-dark);
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 2.4rem;
          margin: 0 !important;
          padding: 0;

          @media (max-width: 1223.98px) {
            grid-area: content;
            font-size: 1.4rem;
            line-height: 2rem;
          }

          body.type-product & {
            grid-area: content;
          }
        }
      }
    }
  }

  #{ $self }__headline {
    span {
      font-weight: inherit !important;
      font-size: inherit !important;
      line-height: inherit !important;

      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__wrapper {
    > h2 {
      @include fv-studio-bosonozka-h2;
    }
  }
}
@mixin fv-bosonozka-advanced-banner-center-text($self) {
  #{ $self }__content {
    #{ $self }__blocks {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;

      @media (max-width: 767.98px) {
        gap: 0;
      }

      #{ $self }__block {
        display: flex !important;
        flex-direction: row !important;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        text-align: center;

        @media (min-width: 768px) {
          flex-direction: column !important;
          justify-content: center;
          width: calc(100% / 3 - 3rem);
          row-gap: .8rem !important;
        }

        #{ $self }__icon {
          display: flex;
        }

        #{ $self }__headline {
          @media (max-width: 767.98px) {
            font-size: 1.4rem;
            line-height: 2rem;
          }

          p {
            font-weight: inherit !important;
            font-size: inherit !important;
            line-height: inherit !important;
          }
        }
      }
    }
  }
}
@mixin fv-bosonozka-advanced-banner-image-top($self) {
  #{ $self }__image {
    @media (max-width: 767.98px) {
      order: -1 !important;
    }
  }
}
@mixin fv-bosonozka-advanced-banner-image-bottom($self) {
  #{ $self }__image {
    @media (max-width: 767.98px) {
      order: 3 !important;
    }
  }
}
@mixin fv-bosonozka-advanced-banner-left-content($self) {
  #{ $self }__image {
    order: 2;
  }

  #{ $self }__content {
    order: 1;
  }
}
@mixin fv-bosonozka-advanced-banner-right-content($self) {
  #{ $self }__image {
    order: 1;

    #{ $self }__button {
      left: 2rem;
      right: unset;
    }
  }

  #{ $self }__content {
    order: 2;
  }
}
@mixin fv-bosonozka-advanced-banner-bottom-content($self) {
  flex-direction: column;

  #{ $self }__image,
  #{ $self }__content {
    width: 100% !important;
    max-height: 60rem;
  }
}
@mixin fv-bosonozka-advanced-banner-top-content($self) {
  flex-direction: column;

  #{ $self }__image,
  #{ $self }__content {
    width: 100% !important;
    max-height: 60rem;
  }

  #{ $self }__image {
    order: 2;
    max-height: 60rem;
  }

  #{ $self }__content {
    order: 1;
  }
}
@mixin fv-bosonozka-alerts($self) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 3.2rem;
  gap: 1.6rem;
  border-radius: 1.6rem;
  margin-block: .8rem;

  @media (max-width: 767.98px) {
    padding: 1.6rem;
    gap: .8rem;
    font-size: 1.4rem;
    line-height: 2rem;
    border-radius: .8rem;
  }

  #{ $self }__icon {
    display: flex;
    margin-bottom: auto;
    width: 2.4rem;
    height: 2.4rem;
    min-width: max-content;
  }

  #{ $self }__content {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;

    @media (min-width: 768px) {
      font-size: 1.6rem;
      line-height: 2.4rem;
    }

    p {
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  a {
    color: inherit;
    text-decoration: underline;
    text-decoration-thickness: .1rem;
  }
}
@mixin fv-bosonozka-highlights($self) {
  display: grid;
  grid-template-columns: 1fr;
  gap: .8rem;
  margin: 2.4rem 0;

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    margin: 6.4rem 0;
  }

  #{ $self }__module {
    border-radius: 1.6rem;
    background: var(--fv-pobo-bg-yellow);
    padding: 2.4rem;
    display: grid;
    grid-template-areas: "ico headline"
                          "ico content";
    gap: .8rem;

    @media (min-width: 768px) {
      display: flex;
      flex-direction: column;
      gap: .8rem;
      flex: 1 0 0;
    }

    #{ $self }__icon {
      display: flex;

      @media (max-width: 1223.98px) {
        grid-area: ico;
        width: 2.4rem !important;
        height: 2.4rem !important;
      }
    }

    #{ $self }__headline {
      color: var(--fv-pobo-dark);
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 2.4rem;

      @media (max-width: 1223.98px) {
        grid-area: headline;
        font-size: 1.6rem;
      }

      p {
        font-weight: inherit !important;
        font-size: inherit !important;
        line-height: inherit !important;
      }
    }

    p {
      color: var(--fv-pobo-dark);
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2.4rem;
      margin: 0 !important;
      padding: 0;

      @media (max-width: 1223.98px) {
        grid-area: content;
        font-size: 1.4rem;
        line-height: 2rem;
      }
    }
  }
}
@mixin fv-bosonozka-gallery-blocks($self) {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: .8rem;
  margin: 2.4rem 0;

  @media (min-width: 768px) {
    gap: 1.6rem;
    margin: 6.4rem 0;
  }

  body.type-product & {
    @media (min-width: 768px) {
      margin: 1.6rem 0;
    }
  }

  #{ $self }__block {
    position: relative;
    border-radius: 1.6rem;
    overflow: hidden;

    #{ $self }__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    a {
      &::after {
        content: '';
        padding: .8rem;
        border-radius: 8rem;
        background: var(--fv-pobo-dark);
        color: var(--fv-pobo-light);
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 2rem;
        text-decoration: unset;
        text-wrap: nowrap;
        aspect-ratio: 1 / 1;
        display: flex;
        width: 2.4rem;
        height: 2.4rem;
        z-index: -1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        justify-content: center;
        align-items: center;
        gap: 0.4rem;
        transition: all .3s ease-in-out;
        z-index: 1;

        @media (min-width: 768px) {
          font-size: 1.6rem;
          line-height: 2.4rem;
          padding: 1.6rem;
        }
      }

      &::before {
        content: '';
        background-color: #fff;
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-flex;
        height: 2.4rem;
        width: 2.4rem;
        mask: url(https://image.pobo.cz/images/3lz9h2lslxjt/zlh7lr6sklm97m74a7qb-md.svg) no-repeat 50% 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
      }

      &:hover {
        opacity: .6;
      }
    }
  }

  #{ $self }__text {
    margin-block: auto;

    > * {
      max-width: 50rem;
    }
  }

  .fv-bosonozka-gallery-blocks__block {
    margin-block: 0;

    @media (max-width: 767.98px) {
      margin-bottom: 0;
    }
  }
}
@mixin fv-bosonozka-ul-counted($self) {
  padding: 0;
  counter-reset: item;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin: 0;

  li {
    all: unset;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .8rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    flex-wrap: wrap;
    padding-left: 4rem;

    @media (min-width: 768px) {
      font-size: 1.8rem;
    }

    &::before {
      content: counters(item, ".") " ";
      counter-increment: item;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      border-radius: 8rem;
      background: var(--fv-pobo-dark);
      color: var(--fv-pobo-white);
      text-align: center;
      font-family: var(--fv-pobo-font-primary);
      font-size: 1.4rem;
      font-weight: 700;
      margin: unset;
      width: 2.4rem;
      height: 2.4rem;
    }

    li {
      padding-left: 5.2rem;

      &::before {
        content: counters(item, ".") ".";
        min-width: 0.4rem;
        padding-inline: 1rem;
        width: auto;
        box-sizing: content-box;
      }

      li {
        padding-left: 6.3rem;
      }
    }
  }

  ol,
  ul {
    margin-top: 1.6rem;
    margin-left: 1.2rem;
    margin-bottom: 0;

    @media (max-width: 767.98px) {
      margin-left: -1.6rem;
    }
  }
}
@mixin fv-bosonozka-ul-checked($self) {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin: 0;

  > li {
    all: unset;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .8rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;

    @media (min-width: 768px) {
      font-size: 1.8rem;
    }

    &::before {
      content: '';
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      border-radius: 8rem;
      background: var(--fv-pobo-dark);
      color: var(--fv-pobo-white);
      text-align: center;
      font-family: var(--fv-pobo-font-primary);
      font-size: 1.4rem;
      font-weight: 700;
      margin: unset;
      min-width: 2.4rem;
      height: 2.4rem;
    }

    &::after {
      background-color: currentColor;
      background-repeat: no-repeat;
      background-size: contain;
      content: "";
      display: inline-flex;
      height: 2rem;
      left: .2rem;
      mask: url(https://667728.myshoptet.com/user/documents/fv-studio-app/assets/icons/check_small.svg) no-repeat 50% 50%;
      position: absolute;
      top: .2rem;
      width: 2rem;
      color: var(--fv-pobo-white);
    }
  }
}

[class*="fv-bosonozka-"] {
  font-family: var(--fv-pobo-font-primary);

  [class*=icon] {
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
  }
}

// benefits
.fv-bosonozka-benefits {
  $self: &;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 2.4rem 0;
  gap: 1.6rem;

  @media (min-width: 768px) {
    padding: 3.2rem 0;
    gap: unset;
  }

  #{ $self }__benefit {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: .8rem;

    @media (min-width: 768px) {
      width: calc(100% / 3);
      flex-direction: column;
      justify-content: center;
    }
  }

  #{ $self }__icon {
    padding: .8rem;
    border-radius: 8rem;
    background: var(--fv-pobo-sand-16);
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 768px) {
      padding: 2.4rem;
    }

    img {
      width: 2.4rem;
      height: 2.4rem;

      @media (min-width: 768px) {
        width: 3.2rem;
        height: 3.2rem;
      }
    }
  }

  #{ $self }__headline {
    text-align: left;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2rem;
    padding: unset;

    @media (min-width: 768px) {
      text-align: center;
      font-size: 1.6rem;
      line-height: 2.4rem;
      padding: 0 4rem;
    }

    p {
      font-weight: inherit !important;
      font-size: inherit !important;
      line-height: inherit !important;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

// advanced-banner
.fv-bosonozka-advanced-banner-top-content-beige {
  $self: &;
  background-color: var(--fv-pobo-bg-beige);
  @include fv-bosonozka-advanced-banner($self);
  @include fv-bosonozka-advanced-banner-top-content($self);
  @include fv-bosonozka-advanced-banner-center-text($self);
}
.fv-bosonozka-advanced-banner-left-content-image-top-green {
  $self: &;
  background-color: var(--fv-pobo-bg-green);
  @include fv-bosonozka-advanced-banner($self);
  @include fv-bosonozka-advanced-banner-left-content($self);
  @include fv-bosonozka-advanced-banner-image-top($self);
}
.fv-bosonozka-advanced-banner-top-content-image-bottom-blue {
  $self: &;
  background-color: var(--fv-pobo-bg-blue);
  @include fv-bosonozka-advanced-banner($self);
  @include fv-bosonozka-advanced-banner-top-content($self);
  @include fv-bosonozka-advanced-banner-image-bottom($self);

  #{ $self }__text-p {
    margin-block: 0 !important;
  }
}
.fv-bosonozka-advanced-banner-left-content-image-bottom-yellow {
  $self: &;
  background-color: var(--fv-pobo-bg-yellow);
  @include fv-bosonozka-advanced-banner($self);
  @include fv-bosonozka-advanced-banner-left-content($self);
  @include fv-bosonozka-advanced-banner-image-bottom($self);
}
.fv-bosonozka-advanced-banner-right-content-image-bottom-yellow {
  $self: &;
  background-color: var(--fv-pobo-bg-yellow);
  @include fv-bosonozka-advanced-banner($self);
  @include fv-bosonozka-advanced-banner-right-content($self);
  @include fv-bosonozka-advanced-banner-image-bottom($self);
}
.fv-bosonozka-advanced-banner-left-content-pink {
  $self: &;
  background-color: var(--fv-pobo-pink);
  @include fv-bosonozka-advanced-banner($self);
  @include fv-bosonozka-advanced-banner-left-content($self);

  ul {
    @include fv-bosonozka-ul-counted($self)
  }
}
.fv-bosonozka-advanced-banner-bottom-content-green {
  $self: &;
  background-color: var(--fv-pobo-green-blue);
  @include fv-bosonozka-advanced-banner($self);
  @include fv-bosonozka-advanced-banner-bottom-content($self);

  @media(min-width: 768px) {
    @include fv-bosonozka-advanced-banner-center-text($self);
  }

  #{ $self }__text-p {
    margin-block: 0 !important;
  }
}
.fv-bosonozka-advanced-banner-right-content-green-checked {
  $self: &;
  background-color: var(--fv-pobo-green-blue);
  @include fv-bosonozka-advanced-banner($self);
  @include fv-bosonozka-advanced-banner-right-content($self);

  ul {
    @include fv-bosonozka-ul-checked($self);
    padding: 0;
  }
}

// alerts
.fv-bosonozka-alerts__info {
  $self: &;
  @include fv-bosonozka-alerts($self);
  background: var(--fv-pobo-dark-8);
  color: var(--fv-pobo-dark);
}
.fv-bosonozka-alerts__neutral {
  $self: &;
  @include fv-bosonozka-alerts($self);
  background-color: var(--fv-pobo-green-8);
  color: var(--fv-pobo-green);
}
.fv-bosonozka-alerts__success {
  $self: &;
  @include fv-bosonozka-alerts($self);
  background-color: var(--fv-pobo-green);
  color: var(--fv-pobo-white);
}
.fv-bosonozka-alerts__warning {
  $self: &;
  @include fv-bosonozka-alerts($self);
  background: var(--fv-pobo-red-16);
  color: var(--fv-pobo-red);
}
.fv-bosonozka-alerts__error {
  $self: &;
  @include fv-bosonozka-alerts($self);
  background-color: var(--fv-pobo-red);
  color: var(--fv-pobo-white);
}

// highlights
.fv-bosonozka-highlights-fluid {
  $self: &;
  @include fv-bosonozka-highlights($self);

  display: flex;
  margin: 0;

  #{ $self }__module {
    display: flex;
    flex-direction: column;
    padding: 2.4rem;

    @media (min-width: 768px) {
      padding: 4.8rem;
    }

    #{ $self }__icon {
      margin-bottom: 1.6rem;
      width: 3.2rem;
      height: 3.2rem;

      @media (min-width: 768px) {
        margin-bottom: .8rem;
      }
    }

    #{ $self }__headline {
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 2rem;

      @media (min-width: 768px) {
        font-size: 1.6rem;
        line-height: 2.4rem;
      }

      p {
        font-weight: inherit !important;
        font-size: inherit !important;
        line-height: inherit !important;
      }
    }
  }
}
.fv-bosonozka-highlight-gray {
  $self: &;
  @include fv-bosonozka-highlights($self);

  #{ $self }__module {
    background-color: rgba(41,39,37,.08);

    #{ $self }__icon {
      margin-bottom: 1.6rem;
      width: 3.2rem;
      height: 3.2rem;

      @media (min-width: 768px) {
        margin-bottom: .8rem;
      }
    }

    #{ $self }__text {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 2rem;
      margin: 0 0 2.4rem 0;
      display: block;

      @media (min-width: 768px) {
        font-size: 1.8rem;
        line-height: 2.4rem;
        margin: 0 0 3.2rem 0;

        body.type-product & {
          font-size: 1.6rem;
          margin: unset !important;
        }
      }
    }
  }
}

// gallery-blocks
.fv-bosonozka-gallery-blocks__2by2 {
  $self: &;
  @include fv-bosonozka-gallery-blocks($self);

  #{ $self }__block {
    &:nth-child(odd) {
      grid-column: span 6;
      grid-row: span 7;
    }

    &:nth-child(even) {
      grid-column: span 6;
      grid-row: span 5;
    }
  }
}
.fv-bosonozka-gallery-blocks__2-1-1by1-1 {
  $self: &;
  @include fv-bosonozka-gallery-blocks($self);

  #{ $self }__block {
    &:nth-child(1) {
      grid-column: span 6;
      grid-row: span 12;

      @media (max-width: 767px) {
        grid-column: span 6;
        grid-row: span 6;
      }
    }
    &:nth-child(2) {
      grid-column: span 3;
      grid-row: span 8;

      @media (max-width: 767px) {
        grid-column: span 6;
        grid-row: span 6;
      }
    }
    &:nth-child(3) {
      grid-column: span 3;
      grid-row: span 4;

      @media (max-width: 767px) {
        grid-column: span 12;
        grid-row: span 4;
      }
    }
    &:nth-child(4) {
      grid-column: span 3;
      grid-row: span 8;

      @media (max-width: 767px) {
        grid-column: span 6;
        grid-row: span 4;
      }
    }
    &:nth-child(5) {
      grid-column: span 3;
      grid-row: span 4;

      @media (max-width: 767px) {
        grid-column: span 6;
        grid-row: span 4;
      }
    }
  }
}
.fv-bosonozka-gallery-blocks__1-1-1by2-1-1 {
  $self: &;
  @include fv-bosonozka-gallery-blocks($self);

  #{ $self }__block {
    &:nth-child(1) {
      grid-column: span 6;
      grid-row: span 8;
    }
    &:nth-child(2) {
      grid-column: span 6;
      grid-row: span 6;
    }
    &:nth-child(3) {
      grid-column: span 6;
      grid-row: span 4;
    }
    &:nth-child(4) {
      grid-column: span 6;
      grid-row: span 6;
    }
    &:nth-child(5) {
      grid-column: span 6;
      grid-row: span 4;
    }
  }
}

// placeholder
.fv-bosonozka-placeholder {
  border-radius: 1.6rem;
  padding: 3.2rem;
  background: rgba(41, 39, 37, .08);
  margin-block: 5rem;
  font-weight: 700;
}

// faq wrapper
.fv-bosonozka-faq-wrapper {
  $self: &;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: .8rem;
  background-color: var(--fv-pobo-dark-8);
  margin: 3.2rem 0 0 0;
  width: 100% !important;
  box-sizing: border-box;

  @media (min-width: 992px) {
    padding: 6.4rem;
    border-radius: 1.6rem;
  }

  #{$self}__faq-item {
    display: grid;
    grid-template-columns: max-content 1fr;
    padding: 1.6rem;
    align-items: flex-start;
    gap: 1.6rem;
    align-self: stretch;
    border-bottom: 0.1rem solid var(--fv-pobo-dark-16);
    cursor: pointer;

    #{$self}__icon {
      height: 2.4rem;
      width: 2.4rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      #{$self}__icon-remove {
        display: none;
      }
    }

    &:last-child {
      border-bottom: none;
    }

    @media (min-width: 992px) {
      padding: 3.2rem 2.4rem;

      &:hover {
        background-color: var(--fv-pobo-white);
      }
    }

    #{$self}__faq-question {
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 1.6rem;

      @media (min-width: 992px) {
        font-size: 1.8rem;
        line-height: 2.4rem;
      }
    }

    #{$self}__faq-answer {
      display: none;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 2rem;
      grid-column: 2;

      body:not(.template-13) & {
        display: block !important;
      }

      @media (min-width: 992px) {
        font-size: 1.6rem;
        line-height: 2.4rem;
      }
    }

    &.showed {
      background-color: var(--fv-pobo-white);

      #{$self}__faq-answer {
        display: block;
      }

      #{$self}__icon-remove {
        display: block;
      }
      #{$self}__icon-add {
        display: none;
      }
    }
  }

  &__wrapper {
    @include bottom-border-divider;

    #{$self}__h2 {
      @include fv-studio-bosonozka-h2-underline();
    }
  }
}

// popular brands
.fv-bosonozka-popular-brands {
  $self: &;
  width: 100% !important;
  @include bottom-border-divider;

  #{$self}__headline {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &-left {
      display: flex;
      flex-direction: column;
      row-gap: .8rem;

      @media (min-width: 992px) {
        width: 80%;
        row-gap: 1.6rem;
      }
    }

    #{$self}__h4 {
      @include fv-studio-bosonozka-h2-underline();
      margin-top: 0 !important;
    }

    #{$self}__description {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 2rem;

      @media (min-width: 992px) {
        font-size: 1.8rem;
        line-height: 2.4rem;
      }
    }

    a {
      min-width: max-content;
      @media (max-width: 767px) {
        display: none;
      }
    }
  }

  #{$self}__logos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 3rem;
    margin-top: 2.4rem;
    column-gap: 2.2rem;
    justify-content: space-evenly;

    @media (min-width: 992px) {
      row-gap: 4.8rem;
      margin-top: 3.2rem;
      column-gap: 3.4rem;
      justify-content: space-between;
    }

    #{$self}__img {
      all: unset;
      max-width: 9.2rem;
      max-height: 3.2rem;
      background-repeat: no-repeat;
      background-size: contain;

      @media (min-width: 768px) {
        max-width: 16rem;
        max-height: 6.4rem;
      }

      &:nth-child(n + 10) {
        display: none;

        @media (min-width: 992px) {
          display: block;
        }
      }
    }
  }

  a {
    border: none;
    border-radius: 8rem;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.4rem;
    padding-block: .8rem;
    padding-inline: 1.6rem;
    text-transform: none;
    display: block;
    background: var(--fv-pobo-dark);
    color: var(--fv-pobo-light);
    text-decoration: none;
    max-width: max-content;

    &:hover {
      background-color: var(--fv-pobo-dark-64);
      color: var(--fv-pobo-light);
    }
  }

  > a {
    margin-top: 2.4rem;
    max-width: 100%;
    text-align: center;

    @media (min-width: 768px) {
      display: none;
    }
  }
}
