.rc-gallery-featured-left {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
  background: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;

  &__left {
    width: calc(50% - 10px / 2);
    overflow: hidden;
    border-radius: 0;
    box-shadow: none;
    border: none;
    background: transparent;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }

  &__left-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    display: block;
  }

  &__right {
    width: calc(50% - 10px / 2);
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }

  &__image {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    border: none;
    background: transparent;
  }

  &__image-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    display: block;
  }
}
