.rc-gallery-two {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
  background: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;

  &__image {
    width: calc(100% / 2 - 10px / 2);
    overflow: hidden;
    border-radius: 0;
    box-shadow: none;
    border: none;
    background: transparent;
    position: relative;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }

  &__img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center center;
    display: block;
  }
}
