@import "core";

@import '/node_modules/lightgallery/css/lightgallery.css';
@import '/node_modules/lightgallery/css/lg-thumbnail.css';

@import "generative/widget-container";
@import "generative/variables";
@import "custom/lobey-custom";

@import "utils/container-resolver";
@import "utils/native-variable";
@import "utils/infobox";
@import "utils/gallery";
@import "generic/part/parameter-core";
@import "generic/part/gallery-resolver";

@import "generic/checked-list";
@import "generic/rc-header-text";
@import "generic/text";
@import "generic/table";
@import "generic/rc-list";
@import "generic/rc-rating-two";
@import "generic/rc-conversion-three";
@import "generic/checked-left-image";
@import "generic/checked-right-image";
@import "generic/rc-text-image-top";
@import "generic/rc-rating-image-right";
@import "generic/pb-faq";
@import "generic/pb-userwidget";
@import "generic/rc-infobox";
@import "generic/rc-profit";
@import "generic/rc-card-call-to-action";
@import "generic/pb-evaluation-two";
@import "generic/rc-video-half-left";
@import "generic/rc-video-half-right";
@import "generic/rc-video-left";
@import "generic/rc-video-right";

@import "generic/rc-one-video";
@import "generic/rc-two-videos";

@import "generic/rc-gallery-one";
@import "generic/rc-gallery-two";
@import "generic/rc-gallery-three";
@import "generic/rc-gallery-four";

@import "generic/rc-image-right-two-column";
@import "generic/rc-image-left-two-column";

/**
  Advantages
**/
@import "generic/rc-advantages-three";
@import "generic/rc-advantages-four";
@import "generic/rc-advantages-two";

/**
 Image left & right + text (above)
**/
@import "generic/rc-image-half-right";
@import "generic/rc-image-half-left";
@import "generic/rc-image-right";
@import "generic/rc-image-left";
@import "generic/rc-image-right-overlay";
@import "generic/rc-image-left-overlay";

/**
 Text in image
**/
//@import "generic/text-in-image-one";
@import "generic/rc-text-image-top";
@import "generic/rc-image-three";

/**
 Review widgets
**/
@import "generic/pb-review-one";
@import "generic/rc-reviews-two";
@import "generic/rc-reviews-threerow";

/**
 Information and warning boxes
**/
@import "generic/rc-warning-two";
@import "generic/rc-information-two";
@import "generic/rc-success-one";

/**
 Authors
**/
@import "generic/rc-author-left";
@import "generic/rc-author-top";
@import "generic/rc-author-above";

/**
 Gallery
**/
@import "generic/rc-inline-image";
@import "generic/rc-dynamic-gallery";

/**
  Separator widget
 */
@import "generic/rc-separator-content";

/**
  Widget with text editor & icon
 */
@import "generic/rc-icon-large-left";
@import "generic/rc-icon-large-right";


@import "generic/rc-team-three";
@import "generic/rc-quotation-card";
@import "generic/rc-jumbotron-one";

@import "generic/rc-title-line";
@import "generic/rc-quotation-split";
@import "generic/rc-counter";
@import "generic/rc-interview-photo";
@import "generic/rc-parameter-small-right";
@import "generic/rc-parameter-small-left";
@import "generic/rc-parameter-big-right";
@import "generic/rc-parameter-big-left";
@import "generic/two-videos";
@import "generic/rc-image-one";

/**
 Core Bootstrap
**/
@import "utils/grid";
@import "utils/embed";
@import "utils/spacing";

/**
 Core Bootstrap
**/
@import "generic/plugin/carousel";
@import "generic/plugin/gallery";
@import "product-preview";

/**
  Custom clients
**/
@import "custom/klararott-custom";
@import "custom/sijeme-srdcem";
@import "generic/oh-my-bean";
@import "custom/lobey-custom";
@import "custom/bonghemia-custom";
@import "custom/nokov-custom";
@import "custom/bikemax-custom";
@import 'fv-bosonozka-detail-benefit';
@import "generic/rc-text-code-right";
@import "generic/rc-text-code-left";
