.rc-image-left {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: var(--rc-global-widget-padding);
  margin: var(--rc-global-widget-margin);
  background: var(--rc-image-bg);
  box-shadow: var(--rc-image-box-shadow);
  border: var(--rc-image-border-color);

  @include media-breakpoint-down(sm) {
    padding: 20px 0;
  }

  &__image {
    width: 35%;
    position: relative;

    @include media-breakpoint-down(sm) {
      flex: 0 0 100%;
      max-width: 100%;
      order: 2;
    }
  }

  &__img {
    max-width: 100%;
    height: auto;
    padding: var(--rc-image-img-padding);
    margin: var(--rc-image-img-margin);
    border-radius: var(--rc-image-img-border-radius);
    box-shadow: var(--rc-image-img-box-shadow);
    border: var(--rc-image-img-border-color);
  }

  &__text {
    width: calc(100% - 35%);
    padding: 0 0 0 30px;

    @include media-breakpoint-down(sm) {
      padding: 10px 0;
      flex: 0 0 100%;
      max-width: 100%;
      order: 1;
    }
  }
}
