.rc-image-half-left {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: var(--pobo-global-widget-padding);
  margin: var(--pobo-global-widget-margin);
  background: var(--pobo-image-bg);
  box-shadow: var(--pobo-image-box-shadow);
  border: var(--pobo-image-border-color);

  @include media-breakpoint-down(sm) {
    padding: var(--pobo-image-padding-sm);
  }

  &__image {
    width: var(--pobo-image-photo-width);
    padding: var(--pobo-image-photo-padding);
    position: relative;

    @include media-breakpoint-down(sm) {
      flex: 0 0 100%;
      max-width: 100%;
      order: 2;
      padding: var(--pobo-image-photo-padding-sm);
      text-align: center;
    }
  }

  &__text {
    width: var(--pobo-image-text-width);
    padding: var(--pobo-image-text-padding);

    @include media-breakpoint-down(sm) {
      flex: 0 0 100%;
      max-width: 100%;
      order: 1;
      padding: 0;
    }
  }

  &__img {
    max-width: 100%;
    height: auto;
    padding: var(--pobo-image-img-padding);
    margin: var(--pobo-image-img-margin);
    border-radius: var(--pobo-image-img-border-radius);
    box-shadow: var(--pobo-image-img-box-shadow);
    border: var(--pobo-image-img-border-color);
  }
}
