.rc-image-right-overlay {
    display: flex;
    align-items: center;
    background: #eeeeee;
    font-family: Tahoma, sans-serif;

    @include media-breakpoint-down(md) {
        flex-direction: column;
        width: 100%;
      }

    &__text {
      width: calc(100% - 500px);
      padding: 20px 40px;
      @include media-breakpoint-down(md) {
        width: 100% !important;
      }
    }
  
    &__image {
      width: 500px;
      position: relative;
  
      &:after {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #5b5b5b;
        opacity: 0.1;
      }
      @include media-breakpoint-down(sm) {
        width: 100% !important;
      }
    }
  
    h2 {
      font-size: 35px;
      margin: 0 0 20px 0;
    }
  
    p {
      font-size: 15px;
      font-weight: 300;
      line-height: 25px;
    }
  
    &__link {
      margin: 20px 0 0 0;
      display: inline-block;
      padding: 0 20px;
      line-height: 40px;
      font-weight: 300;
      text-decoration: none;
      color: white;
      background: black;
      border: 1px solid black;
  
      &:hover {
        background: lighten(black, 0.4);
        color: white;
        text-decoration: none;
      }
    }
  }
  