.rc-inline-image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: var(--rc-global-widget-padding);
  margin: var(--rc-global-widget-margin);

  &__wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    @include media-breakpoint-down(md) {
      flex-direction: column;
      gap: 50px;
      align-items: flex-start;
    }
  }

  &__single {
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 12px 10px;
  }

  &__content {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;

    @include media-breakpoint-down(md) {
      width: 100% !important;
    }
  }

  &__content-text {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__content-image {
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80px;
    position: relative;
  }


  &__sec-image {
    width: 70px;
    min-width: 70px;
  }

  &__title {
    margin: 0;
    padding-bottom: 8px;
    line-height: var(--rc-inline-image-title-line-height);
    font-size: var(--rc-inline-image-title-font-size);
    color: var(--rc-inline-image-title-font-color);

    @include media-breakpoint-down(sm) {
      font-size: 16px;
    }
  }

  &__subtitle {
    line-height: var(--rc-inline-image-sub-title-line-height);
    font-size: var(--rc-inline-image-sub-title-font-size);
    color: var(--rc-inline-image-sub-title-color);
  }

  &__three {
    width: calc(100% / 3);

    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }

  &__two {
    width: 50%;

    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }
}