.custom-korean-widget{
    width: 100%;
    max-width: 980px;
    background: #fdf1f2;
    border-radius: 20px;
    margin: 25px 0px;
    display: flex;
    justify-content: center;
    align-items: center;

 
    &__wrap{
        display: flex;
        flex-direction: column;
        padding-top: 18px;
    }

    &__wrap-title{
        position: relative;
        text-align: center;
        font-size: 34px;
        text-align: center;
        width: auto;
  
        padding: 15px 0px;
        &::before{
            content: "";
            position: absolute;
            display: block;
            width: 40px;
            height: 40px;
            object-fit: cover;
            left: 35%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-size: 40px;
            background-repeat: no-repeat;
            background-image: url("https://pobo-cdn.b-cdn.net/client/koreankosmetika/effect.png");

            @include media-breakpoint-down(md) {
               left:10%;
             }
        }

        &::after{
            content: "";
            position: absolute;
            display: block;
            width: 40px;
            height: 40px;
            object-fit: cover;
            left: 65%;
            top: 50%;
            transform: translate(-50%, -50%);
        
            background-size: 40px;
            background-repeat: no-repeat;
            background-image: url("https://pobo-cdn.b-cdn.net/client/koreankosmetika/ef2.png");
            @include media-breakpoint-down(md) {
                left:90%;
              }    
      }
    }

    &__number-line{
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        align-items: center;
        justify-content: center;
        align-content: center;
        text-align: center;
        @include media-breakpoint-down(md) {
            display: none;
        }
    }


    &__number-line-mobile{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: center;
        justify-content: center;
        align-content: center;
        text-align: center;
        grid-column: span 5;
        @include media-breakpoint-up(lg) {
            display: none;
        }
    }


    &__icons{
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        align-items: center;
        justify-content: center;
        align-content: center;
        text-align: center;
        margin-top: 20px;

        @include media-breakpoint-down(md) { 
            grid-template-columns: repeat(5, 1fr);
            grid-auto-flow: dense;
            gap: 10px;
        }
    }

    &__icons-title{
        font-weight: 100;
        font-size: 14px;
        padding: 0px 10px;
        &::before{
            display: none;
        }
    }
   
    &__icons-item-image{
       position: relative;
       height: 80px;
       display: flex;
       justify-content: center;
       align-items: center;
    }

    &__wrap{
        width: 90%;
    }



    &__num{
        z-index: 10;
        position: relative;
        margin: 0;
        padding: 0;
    }
    

    &__number-line-number, &__number-line-mobile-number{
        position: relative;
        font-size: 10px;
        font-weight: bold;
     
        &::before{
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 15px;
            height: 15px;
            border-radius: 50%;
            border: 1px solid black;
            background: #fdf1f2;
            z-index: 3;
        }
        
        &:last-child{
            &::after{ 
            z-index: 1;
            content: "" !important;
 
             }

        }
        &::after{ 
            z-index: 1;
            color: black;
            content: ">";
            display: block;
            position: absolute;
            width: 100%;
            height: 2px;
            background: black;
            top: 50%;
            left:50%;
            transform: translate(-50%, -50%);
            text-align: right;
            line-height: 0px;
            font-size: 18px;
            font-weight: 400;
        }
    }

    &__number-line-mobile-number{
        margin-top:10px;
        &::after{
            display: none;
        }
     
    }

    &__active-number{
        color: white;
        font-size: 14px;
        font-weight: bold;
        &::before{
            width: 30px;
            height: 30px;
            color: black;
            background: #91c585;
        }
    }

    &__active-title{
        font-weight: bold !important;
        font-size: 14px;
        padding: 0px 10px;
    }

    &__image{
        border-radius: unset;
        max-width: 40px;
        max-height: 80px;

      @include media-breakpoint-down(md) {
        max-width: 30px;
        max-height: 50px;
        }
    }
}


