.rc-rating-image-right {
  position: relative;
  padding: var(--pobo-global-widget-padding);
  margin: var(--pobo-global-widget-margin);
  background: var(--pobo-rating-image-bg);
  box-shadow: var(--pobo-rating-image-box-shadow);
  border: var(--pobo-rating-image-border-color);

  @include media-breakpoint-down(sm) {
    padding: 0;
  }

  &__container {
    padding: var(--pobo-rating-image-container-padding);
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      display: block;
    }
  }

  &__content {
    width: calc(100% - 300px);
    padding: var(--pobo-rating-image-content-padding);
    position: relative;

    @include media-breakpoint-down(sm) {
      width: 100%;
      padding: var(--pobo-rating-image-content-padding-sm);
    }

    &:before,
    &:after {
      position: absolute;
      font-size: 60px;
    }

    &:before {
      content: "„";
      left: 0;
      top: 0;
      font-family: Georgia, sans-serif;

      @include media-breakpoint-down(sm) {
        top: -60px;
      }
    }

    &:after {
      content: "“";
      right: 0;
      bottom: 0;
      font-family: Georgia, sans-serif;
    }

    p {
      font-size: var(--pobo-rating-image-content-text-font-size);
      line-height: var(--pobo-rating-image-content-text-line-height);
      font-weight: var(--pobo-rating-image-content-text-font-weight);
      font-style: italic;
    }
  }

  &__image {
    width: var(--pobo-rating-image-width);

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }

  &__image-container {
    max-width: var(--pobo-rating-image-width);
    max-height: var(--pobo-rating-image-width);
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: var(--pobo-rating-image-border-radius);
    position: relative;

    @include media-breakpoint-down(sm) {
      margin: 0 auto;
    }
  }

  &__img {
    max-width: 100%;
    width: 100%;
  }

  &__name {
    display: block;
    text-align: right;
  }
}
