.rc-image-left-two-column {
  width: 100%;
  display: flex;

  @include media-breakpoint-up(sm) {
    gap: 20px;
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }
  &__image {
    position: relative;
    width: 35%;
    flex-shrink: 0;

    @include media-breakpoint-down(sm) {
      width: 100%;
      order: 2;
      text-align: center;
    }
  }

  &__img {
    width: 100%;
    position: relative;
  }

  &__content {
    width: 65%;
    display: flex;
    flex-direction: column;

    @include media-breakpoint-down(sm) {
      width: 100%;
      order: 1;
    }
  }

  &__title-wrap {
    text-align: left;

    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }

  &__text-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include media-breakpoint-up(sm) {
      gap: 20px;
    }

    @include media-breakpoint-down(sm) {
      grid-template-columns: 1fr;
    }
  }
}
