.rc-video-left {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &__image {
    width: 35%;
    position: relative;

    @include media-breakpoint-down(sm) {
      flex: 0 0 100%;
      max-width: 100%;
      order: 2;
    }
  }

  &__video {
    width: 35%;
    height: auto;
    padding: 0;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    border: none;

    @include media-breakpoint-down(sm) {
      flex: 0 0 100%;
      max-width: 100%;
      order: 1;
    }
  }

  &__text {
    width: calc(100% - 35%);
    background: none;
    text-align: left;
    padding: 0 0 0 40px;
    margin: 0;
    border-radius: 0;
    position: relative;
    z-index: 1;

    @include media-breakpoint-down(sm) {
      flex: 0 0 100%;
      max-width: 100%;
      order: 1;
    }
  }
}
