.pb-evaluation-two {
  width: 100%;
  padding: 20px 0;

  &__title {
    width: 100%;
    padding: 30px 20px;
    background: white;
  }

  &__contents {
    width: 100%;
    display: flex;
    padding: 0 30px;
    flex-direction: row;

    @media only screen and (max-width: 830px) {
      flex-direction: column;
      padding: 10px;
    }
  }

  &__obl-single {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    position: relative;

    @media only screen and (max-width: 830px) {
      width: 100%;
      margin: 30px 0px;
      padding: 0px;
    }
  }

  &__single {
    width: 100%;
    box-shadow: 8px 8px 8px #e3e3e3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media only screen and (max-width: 830px) {
      margin: 0px;
    }
  }

  &__logo {
    display: block;
    max-width: 200px;
    width: 100%;
  }

  &__text-in {
    padding: 5px 35px 30px 35px;
    margin-top: 20px;
    display: block;
    font-size: 20px;
    line-height: 1.7;
    font-style: italic;
    font-family: Georgia, "Times New Roman", Times, serif;
  }

  &__header {
    text-align: center;
    margin: 30px 0;
    font-weight: 400;

    &:before {
      background: #e3e3e3;
      content: "";
      width: 100%;
      height: 1px;
      display: block;
      margin-bottom: -24px;
    }
  }

  &__span {
    font-size: 30px;
    background: white !important;
    padding: 0 20px;
  }

  &__button {
    width: 100%;
    margin: 5px 20px;
    display: flex;
    justify-content: flex-end;

    @media only screen and (max-width: 830px) {
      margin: 5px 0px;
    }

    &__btn {
      background: rgb(46, 46, 46);
      display: block;
      padding: 5px 10px;

      & a {
        color: rgb(240, 240, 240);
        text-decoration: none;
      }
    }
  }
}
