.rc-image-two {
  display: flex;
  max-width: 100%;
  margin: auto;

  &__single{
    width: 50%;
    height: 500px;
    display: flex;
    position: relative;
    margin: 5px;
    background: rgba(0, 0, 0, 0.486);
    flex-direction: column;
    color: white;
  }

  &__img {
    width: 100%;
    position: absolute;
    overflow: hidden;
    z-index: -2;
    height: 100%;
  }

  &__content{
    padding: 25px;
    height: 100%;

    h2{
      font-size: 3vw;
    }

    p{
      font-size: 1vw;
      color: white;
    }
  }

  &__down {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    flex-direction: column;
  }

  &__circle {
    width: 4vw;
    line-height: 4vw;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    font-size: 3vw;
    background-color: white;
    color: black;
    mix-blend-mode: lighten;
  }
}


@media only screen and (max-width: 990px){
  .rc-image-two {
    &__single {
      height: 400px;
    }

    &__content {
      h2 {
        font-size: 30px;
      }

      p {
        font-size: 13px;
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  .rc-image-two {
    flex-direction: column;

    &__single {
      width: 100%;
      height: 300px;
      margin: 0px;
    }

    &__circle{
      width: 50px;
      line-height: 50px;
      font-size: 25px;
    }
  }
}
