.rc-text-image-top {
  position: relative;
  border: var(--rc-text-in-image-border);
  box-shadow: var(--rc-text-in-image-box-shadow);
  background: var(--rc-text-in-image-bg);
  padding: var(--rc-global-widget-padding);
  margin: var(--rc-global-widget-margin);

  &__info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  &__background {
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;

    @include media-breakpoint-down(sm) {
      padding: 20px;
    }
  }

  &__header {
    color: var(--rc-text-in-image-single-header-font-color);
    line-height: var(--rc-text-in-image-single-header-line-height);
    font-weight: var(--rc-text-in-image-single-header-font-weight);
    font-size: var(--rc-text-in-image-single-header-font-size);
    padding: var(--rc-text-in-image-single-header-padding);
    margin: var(--rc-text-in-image-single-header-margin);
    text-shadow: var(--rc-text-in-image-single-header-text-shadow);


    @include media-breakpoint-down(sm) {
      font-size: 20px;
    }
  }

  &__text {
    font-size: var(--rc-text-in-image-single-text-font-size);
    line-height: var(--rc-text-in-image-single-text-line-height);
    font-weight: var(--rc-text-in-image-single-text-font-weight);
    color: var(--rc-text-in-image-single-text-font-color);
    padding: var(--rc-text-in-image-single-text-padding);
    margin: var(--rc-text-in-image-single-text-margin);
    text-shadow: var(--rc-text-in-image-single-text-text-shadow);


    @include media-breakpoint-down(sm) {
      font-size: 14px;
      line-height: 18px;
    }
  }

  &__img {
    max-width: 100%;
    height: auto;
  }
}
