.rc-two-videos {
  padding: var(--pobo-global-widget-padding);
  margin: var(--pobo-global-widget-margin);
}

.empty {
  .pb-embed-responsive {
    padding: var(--pobo-global-widget-padding);
    margin: var(--pobo-global-widget-margin);
  }
}