.rc-warning-two {
  padding: var(--pobo-warning-one-padding);

  &__wrap {
    display: flex;
    box-shadow: var(--pobo-warning-one-box-shadow);
    border-radius: var(--pobo-warning-one-border-radius);
    overflow: hidden;
  }

  &__ico {
    background: var(--pobo-warning-one-ico-background);
    width: var(--pobo-warning-one-ico-size);
    height: var(--pobo-warning-one-ico-size);
    background-size: var(--pobo-warning-one-ico-size);
  }

  &__icon {
    background: var(--pobo-warning-one-icon-background);
    padding: var(--pobo-warning-one-icon-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--pobo-warning-one-icon-width);

    &--size {
      max-width: 30px;
    }
  }

  &__content {
    padding: var(--pobo-warning-one-content-padding);
    background-color: var(--pobo-warning-one-content-background-color);
    align-self: stretch;
    border: var(--pobo-warning-one-content-border);
    border-left: 0;
    width: calc(100% - 80px);
  }

  &__content-title {
    font-size: var(--pobo-warning-one-content-title-font-size);
    padding: var(--pobo-warning-one-content-title-padding);
    margin: var(--pobo-warning-one-content-title-margin);
    color: var(--pobo-warning-one-content-title-color);
  }

  &__content-text {
    font-size: var(--pobo-warning-one-content-text-font-size);
    line-height: var(--pobo-warning-one-content-text-line-height);
    color: var(--pobo-warning-one-content-title-color);
    display: block;
  }
}
